body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:800px;
}
#u8260 {
  position:absolute;
  left:201px;
  top:0px;
  width:900px;
  height:800px;
}
#u8261 {
  position:absolute;
  left:2px;
  top:392px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u8262 {
  position:absolute;
  left:-10px;
  top:0px;
  width:211px;
  height:800px;
}
#u8263 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8264 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8265 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u8266 {
  position:absolute;
  left:201px;
  top:100px;
  width:900px;
  height:60px;
}
#u8267 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u8268 {
  position:absolute;
  left:201px;
  top:280px;
  width:900px;
  height:60px;
}
#u8269 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u8270 {
  position:absolute;
  left:201px;
  top:490px;
  width:900px;
  height:60px;
}
#u8271 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8272 {
  position:absolute;
  left:51px;
  top:68px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8273 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u8274 {
  position:absolute;
  left:67px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u8275 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u8276 {
  position:absolute;
  left:229px;
  top:68px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8277 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8278 {
  position:absolute;
  left:229px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8279 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8280 {
  position:absolute;
  left:229px;
  top:300px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8281 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u8282 {
  position:absolute;
  left:229px;
  top:510px;
  width:129px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8283 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:800px;
}
#u8284 {
  position:absolute;
  left:1101px;
  top:0px;
  width:199px;
  height:800px;
}
#u8285 {
  position:absolute;
  left:2px;
  top:392px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:100px;
}
#u8286 {
  position:absolute;
  left:1101px;
  top:0px;
  width:199px;
  height:100px;
}
#u8287 {
  position:absolute;
  left:2px;
  top:42px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8288 {
  position:absolute;
  left:1127px;
  top:122px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8289 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u8290 {
  position:absolute;
  left:1140px;
  top:159px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8291 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u8292 {
  position:absolute;
  left:1140px;
  top:184px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8293 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u8294 {
  position:absolute;
  left:1127px;
  top:241px;
  width:9px;
  height:16px;
  font-size:16px;
  color:#000000;
}
#u8295 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u8296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8296 {
  position:absolute;
  left:1231px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8297 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u8298 {
  position:absolute;
  left:300px;
  top:570px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8299 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u8300 {
  position:absolute;
  left:600px;
  top:570px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8301 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:94px;
}
#u8302 {
  position:absolute;
  left:300px;
  top:610px;
  width:133px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u8303 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:94px;
}
#u8304 {
  position:absolute;
  left:600px;
  top:610px;
  width:45px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u8305 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8306 {
  position:absolute;
  left:300px;
  top:350px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8307 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:94px;
}
#u8308 {
  position:absolute;
  left:300px;
  top:390px;
  width:89px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u8309 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u8310 {
  position:absolute;
  left:600px;
  top:350px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8311 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:94px;
}
#u8312 {
  position:absolute;
  left:600px;
  top:390px;
  width:45px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u8313 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8314 {
  position:absolute;
  left:780px;
  top:300px;
  width:300px;
  height:25px;
}
#u8314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8314_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8314_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8315 {
  position:absolute;
  left:1127px;
  top:223px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8316 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u8317 {
  position:absolute;
  left:1140px;
  top:266px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8318 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u8319 {
  position:absolute;
  left:1140px;
  top:291px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8320 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u8321 {
  position:absolute;
  left:229px;
  top:206px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8322 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u8323 {
  position:absolute;
  left:229px;
  top:231px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8324 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u8325 {
  position:absolute;
  left:229px;
  top:181px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8326 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u8327 {
  position:absolute;
  left:600px;
  top:206px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8328 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:17px;
}
#u8329 {
  position:absolute;
  left:600px;
  top:231px;
  width:302px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8330 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  white-space:nowrap;
}
#u8331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
}
#u8331 {
  position:absolute;
  left:600px;
  top:181px;
  width:109px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8332 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8333 {
  position:absolute;
  left:1201px;
  top:16px;
  width:20px;
  height:20px;
}
#u8334 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8335 {
  position:absolute;
  left:717px;
  top:179px;
  width:20px;
  height:20px;
}
#u8336 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u8337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
}
#u8337 {
  position:absolute;
  left:1020px;
  top:112px;
  width:71px;
  height:19px;
  font-size:12px;
}
#u8338 {
  position:absolute;
  left:2px;
  top:1px;
  width:67px;
  word-wrap:break-word;
}
#u8339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:17px;
}
#u8339 {
  position:absolute;
  left:879px;
  top:137px;
  width:215px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8340 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u8341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8341 {
  position:absolute;
  left:7px;
  top:5px;
  width:40px;
  height:40px;
}
#u8342 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u8343 {
  position:absolute;
  left:0px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u8344 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8345 {
  position:absolute;
  left:51px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8346 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8347 {
  position:absolute;
  left:51px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8348 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8349 {
  position:absolute;
  left:51px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8350 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8351 {
  position:absolute;
  left:51px;
  top:309px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8352 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8353 {
  position:absolute;
  left:51px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8354 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8355 {
  position:absolute;
  left:51px;
  top:439px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8356 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:17px;
}
#u8357 {
  position:absolute;
  left:229px;
  top:256px;
  width:130px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8358 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
