body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1080px;
}
#u1939 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1080px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1940 {
  position:absolute;
  left:2px;
  top:532px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1060px;
}
#u1941 {
  position:absolute;
  left:198px;
  top:0px;
  width:400px;
  height:1060px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1942 {
  position:absolute;
  left:2px;
  top:522px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:290px;
}
#u1946 {
  position:absolute;
  left:199px;
  top:51px;
  width:400px;
  height:290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:2px;
  top:137px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:240px;
}
#u1948 {
  position:absolute;
  left:199px;
  top:51px;
  width:399px;
  height:240px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:2px;
  top:112px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1950 {
  position:absolute;
  left:220px;
  top:306px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1952 {
  position:absolute;
  left:526px;
  top:309px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u1954 {
  position:absolute;
  left:820px;
  top:418px;
  width:216px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1956 {
  position:absolute;
  left:610px;
  top:426px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1958 {
  position:absolute;
  left:199px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1959 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1960 {
  position:absolute;
  left:210px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1962 {
  position:absolute;
  left:378px;
  top:990px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:290px;
}
#u1967 {
  position:absolute;
  left:199px;
  top:351px;
  width:400px;
  height:290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:2px;
  top:137px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:240px;
}
#u1969 {
  position:absolute;
  left:199px;
  top:351px;
  width:399px;
  height:240px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:2px;
  top:112px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1971 {
  position:absolute;
  left:220px;
  top:606px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1973 {
  position:absolute;
  left:526px;
  top:609px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:290px;
}
#u1978 {
  position:absolute;
  left:199px;
  top:651px;
  width:400px;
  height:290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:2px;
  top:137px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:240px;
}
#u1980 {
  position:absolute;
  left:199px;
  top:651px;
  width:399px;
  height:240px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:2px;
  top:112px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1982 {
  position:absolute;
  left:220px;
  top:906px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1984 {
  position:absolute;
  left:526px;
  top:909px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
