body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1031px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188 {
  position:absolute;
  left:200px;
  top:-10px;
}
#u1188_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:401px;
  height:800px;
  background-image:none;
}
#u1188_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:800px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:800px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1190 {
  position:absolute;
  left:2px;
  top:392px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:1360px;
}
#u1191 {
  position:absolute;
  left:201px;
  top:-220px;
  width:399px;
  height:1360px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:2px;
  top:672px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:27px;
}
#u1193 {
  position:absolute;
  left:220px;
  top:70px;
  width:261px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1195 {
  position:absolute;
  left:243px;
  top:14px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1197 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1198 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1199 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u1201 {
  position:absolute;
  left:220px;
  top:142px;
  width:360px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
}
#u1203 {
  position:absolute;
  left:220px;
  top:301px;
  width:360px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1204 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u1205 {
  position:absolute;
  left:220px;
  top:485px;
  width:360px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u1207 {
  position:absolute;
  left:220px;
  top:109px;
  width:183px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u1209 {
  position:absolute;
  left:220px;
  top:810px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:70px;
}
#u1211 {
  position:absolute;
  left:220px;
  top:870px;
  width:109px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1212 {
  position:absolute;
  left:2px;
  top:27px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:70px;
}
#u1213 {
  position:absolute;
  left:220px;
  top:955px;
  width:109px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  position:absolute;
  left:2px;
  top:27px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u1215 {
  position:absolute;
  left:345px;
  top:874px;
  width:239px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:70px;
}
#u1217 {
  position:absolute;
  left:220px;
  top:1034px;
  width:109px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  position:absolute;
  left:2px;
  top:27px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u1219 {
  position:absolute;
  left:345px;
  top:921px;
  width:183px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1221 {
  position:absolute;
  left:375px;
  top:684px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1223 {
  position:absolute;
  left:211px;
  top:649px;
  width:379px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1226 {
  position:absolute;
  left:346px;
  top:750px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:369px;
  top:750px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u1230 {
  position:absolute;
  left:345px;
  top:958px;
  width:239px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u1232 {
  position:absolute;
  left:345px;
  top:1005px;
  width:183px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u1234 {
  position:absolute;
  left:345px;
  top:1040px;
  width:239px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u1236 {
  position:absolute;
  left:345px;
  top:1087px;
  width:183px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
}
#u1238 {
  position:absolute;
  left:514px;
  top:805px;
  width:70px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u1240 {
  position:absolute;
  left:211px;
  top:850px;
  width:379px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1242 {
  position:absolute;
  left:821px;
  top:96px;
  width:70px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1244 {
  position:absolute;
  left:611px;
  top:104px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u1246 {
  position:absolute;
  left:821px;
  top:964px;
  width:210px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1248 {
  position:absolute;
  left:611px;
  top:972px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1249 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
