body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
}
#u8101 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:952px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u8103 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u8104 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u8105 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u8106 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u8107 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8108 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u8109 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u8110 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8111 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u8112 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u8113 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u8114 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:904px;
}
#u8115 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:903px;
}
#u8116 {
  position:absolute;
  left:2px;
  top:444px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u8117 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u8118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u8119 {
  position:absolute;
  left:1055px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8120 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8121 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8123 {
  position:absolute;
  left:250px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8125 {
  position:absolute;
  left:364px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8127 {
  position:absolute;
  left:264px;
  top:186px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8129 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:25px;
}
#u8129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8129_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8129_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u8130 {
  position:absolute;
  left:371px;
  top:230px;
  width:140px;
  height:40px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8133 {
  position:absolute;
  left:61px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8135 {
  position:absolute;
  left:-1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8137 {
  position:absolute;
  left:61px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8138 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8139 {
  position:absolute;
  left:61px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8140 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8141 {
  position:absolute;
  left:61px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8143 {
  position:absolute;
  left:61px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8145 {
  position:absolute;
  left:61px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8147 {
  position:absolute;
  left:61px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8148 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8149 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8150 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u8151 {
  position:absolute;
  left:52px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8152 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8153 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8154 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8155 {
  position:absolute;
  left:61px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8157 {
  position:absolute;
  left:61px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8158 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
