body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1004px;
}
#u4869 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:1004px;
}
#u4870 {
  position:absolute;
  left:2px;
  top:494px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1002px;
}
#u4871 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1002px;
  font-size:16px;
}
#u4872 {
  position:absolute;
  left:2px;
  top:493px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4874 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u4875 {
  position:absolute;
  left:264px;
  top:73px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u4877 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4879 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u4880 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4881 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:941px;
}
#u4883 {
  position:absolute;
  left:200px;
  top:63px;
  width:1px;
  height:940px;
}
#u4884 {
  position:absolute;
  left:2px;
  top:462px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4885 {
  position:absolute;
  left:389px;
  top:79px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4886 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4887 {
  position:absolute;
  left:264px;
  top:186px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4888 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4889 {
  position:absolute;
  left:264px;
  top:235px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4891 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4893 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u4895 {
  position:absolute;
  left:371px;
  top:235px;
  width:100px;
  height:100px;
}
#u4896 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u4897 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:25px;
}
#u4897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4897_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4897_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4898 {
  position:absolute;
  left:371px;
  top:640px;
  width:140px;
  height:40px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4900 {
  position:absolute;
  left:264px;
  top:353px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:223px;
}
#u4902 {
  position:absolute;
  left:371px;
  top:353px;
  width:779px;
  height:222px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:102px;
  width:775px;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u4904 {
  position:absolute;
  left:1057px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4906 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4908 {
  position:absolute;
  left:264px;
  top:598px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4910 {
  position:absolute;
  left:371px;
  top:598px;
  width:300px;
  height:25px;
}
#u4910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4910_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4910_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4912 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4916 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4918 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4920 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4922 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4924 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4926 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4928 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u4930 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4931 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4932 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4933 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4934 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4935 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4936 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4937 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
