body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:820px;
}
#u6020 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:820px;
}
#u6021 {
  position:absolute;
  left:2px;
  top:402px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
}
#u6022 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
  font-size:16px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:426px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u6026 {
  position:absolute;
  left:274px;
  top:73px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6027 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u6028 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6030 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u6031 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u6032 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u6034 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u6035 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6036 {
  position:absolute;
  left:250px;
  top:164px;
  width:900px;
  height:1px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u6038 {
  position:absolute;
  left:250px;
  top:219px;
  width:900px;
  height:96px;
}
#u6039 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6040 {
  position:absolute;
  left:467px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6042 {
  position:absolute;
  left:640px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6043 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6044 {
  position:absolute;
  left:1083px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6045 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6046 {
  position:absolute;
  left:467px;
  top:234px;
  width:94px;
  height:69px;
}
#u6047 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6048 {
  position:absolute;
  left:640px;
  top:254px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6050 {
  position:absolute;
  left:1083px;
  top:254px;
  width:20px;
  height:20px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u6052 {
  position:absolute;
  left:250px;
  top:463px;
  width:900px;
  height:96px;
}
#u6053 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6054 {
  position:absolute;
  left:467px;
  top:478px;
  width:94px;
  height:69px;
}
#u6055 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6056 {
  position:absolute;
  left:640px;
  top:498px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6058 {
  position:absolute;
  left:1083px;
  top:498px;
  width:20px;
  height:20px;
}
#u6059 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6060 {
  position:absolute;
  left:467px;
  top:349px;
  width:94px;
  height:69px;
}
#u6061 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6062 {
  position:absolute;
  left:640px;
  top:370px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6064 {
  position:absolute;
  left:1083px;
  top:370px;
  width:20px;
  height:20px;
}
#u6065 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6066 {
  position:absolute;
  left:1073px;
  top:121px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6068 {
  position:absolute;
  left:1023px;
  top:121px;
  width:20px;
  height:20px;
}
#u6069 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u6070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u6070 {
  position:absolute;
  left:841px;
  top:183px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6071 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6072 {
  position:absolute;
  left:841px;
  top:254px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6073 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6074 {
  position:absolute;
  left:841px;
  top:370px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6075 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6076 {
  position:absolute;
  left:841px;
  top:498px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6077 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6078 {
  position:absolute;
  left:286px;
  top:252px;
  width:27px;
  height:16px;
}
#u6079 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6080 {
  position:absolute;
  left:286px;
  top:363px;
  width:27px;
  height:16px;
}
#u6081 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6082 {
  position:absolute;
  left:286px;
  top:496px;
  width:27px;
  height:16px;
}
#u6083 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6084 {
  position:absolute;
  left:286px;
  top:185px;
  width:27px;
  height:16px;
}
#u6085 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6084_ann {
  position:absolute;
  left:306px;
  top:181px;
  width:1px;
  height:1px;
}
#u6086 {
  position:absolute;
  left:250px;
  top:579px;
  width:63px;
  height:25px;
}
#u6086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6086_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6086_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6087 {
  position:absolute;
  left:396px;
  top:579px;
  width:63px;
  height:25px;
}
#u6087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6087_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6087_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6088 {
  position:absolute;
  left:337px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6089 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6090 {
  position:absolute;
  left:412px;
  top:254px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6091 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6092 {
  position:absolute;
  left:412px;
  top:498px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6093 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6094 {
  position:absolute;
  left:412px;
  top:370px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6096 {
  position:absolute;
  left:340px;
  top:254px;
  width:27px;
  height:25px;
}
#u6096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6096_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6096_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6097 {
  position:absolute;
  left:340px;
  top:370px;
  width:27px;
  height:25px;
}
#u6097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6097_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6097_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6098 {
  position:absolute;
  left:340px;
  top:498px;
  width:27px;
  height:25px;
}
#u6098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6098_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6098_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6099 {
  position:absolute;
  left:408px;
  top:183px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6100 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6101 {
  position:absolute;
  left:323px;
  top:579px;
  width:63px;
  height:25px;
}
#u6101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6101_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6101_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6102 {
  position:absolute;
  left:250px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6103 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u6104 {
  position:absolute;
  left:348px;
  top:120px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6105 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6106 {
  position:absolute;
  left:423px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6107 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6109 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6110 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u6111 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u6112 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6113 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6115 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6117 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6118 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6119 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6121 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6123 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6125 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u6127 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6128 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6129 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6130 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6131 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6132 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6133 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
