body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:820px;
}
#u6636 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:820px;
}
#u6637 {
  position:absolute;
  left:2px;
  top:402px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
}
#u6638 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
  font-size:16px;
}
#u6639 {
  position:absolute;
  left:2px;
  top:426px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u6640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u6641 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u6642 {
  position:absolute;
  left:274px;
  top:73px;
  width:61px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u6643 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u6644 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u6645 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6646 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u6647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u6648 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u6649 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u6650 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u6651 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6652 {
  position:absolute;
  left:250px;
  top:164px;
  width:900px;
  height:1px;
}
#u6653 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u6654 {
  position:absolute;
  left:250px;
  top:219px;
  width:900px;
  height:96px;
}
#u6655 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6656 {
  position:absolute;
  left:467px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6657 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6658 {
  position:absolute;
  left:640px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6659 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6660 {
  position:absolute;
  left:1083px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6661 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6662 {
  position:absolute;
  left:467px;
  top:234px;
  width:94px;
  height:69px;
}
#u6663 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6664 {
  position:absolute;
  left:640px;
  top:254px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6665 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6666 {
  position:absolute;
  left:1083px;
  top:254px;
  width:20px;
  height:20px;
}
#u6667 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u6668 {
  position:absolute;
  left:250px;
  top:463px;
  width:900px;
  height:96px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6670 {
  position:absolute;
  left:467px;
  top:478px;
  width:94px;
  height:69px;
}
#u6671 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6672 {
  position:absolute;
  left:640px;
  top:498px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6673 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6674 {
  position:absolute;
  left:1083px;
  top:498px;
  width:20px;
  height:20px;
}
#u6675 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:69px;
}
#u6676 {
  position:absolute;
  left:467px;
  top:349px;
  width:94px;
  height:69px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:26px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6678 {
  position:absolute;
  left:640px;
  top:370px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6679 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6680 {
  position:absolute;
  left:1083px;
  top:370px;
  width:20px;
  height:20px;
}
#u6681 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6682 {
  position:absolute;
  left:1073px;
  top:121px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6683 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6684 {
  position:absolute;
  left:1023px;
  top:121px;
  width:20px;
  height:20px;
}
#u6685 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u6686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u6686 {
  position:absolute;
  left:841px;
  top:183px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6687 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6688 {
  position:absolute;
  left:841px;
  top:254px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6689 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6690 {
  position:absolute;
  left:841px;
  top:370px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6691 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u6692 {
  position:absolute;
  left:841px;
  top:498px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6693 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u6694 {
  position:absolute;
  left:286px;
  top:252px;
  width:27px;
  height:16px;
}
#u6695 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6694_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6696 {
  position:absolute;
  left:286px;
  top:363px;
  width:27px;
  height:16px;
}
#u6697 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6696_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6698 {
  position:absolute;
  left:286px;
  top:496px;
  width:27px;
  height:16px;
}
#u6699 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6698_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6700 {
  position:absolute;
  left:286px;
  top:185px;
  width:27px;
  height:16px;
}
#u6701 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6700_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6700_ann {
  position:absolute;
  left:306px;
  top:181px;
  width:1px;
  height:1px;
}
#u6702 {
  position:absolute;
  left:250px;
  top:579px;
  width:63px;
  height:25px;
}
#u6702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6702_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6702_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6703 {
  position:absolute;
  left:396px;
  top:579px;
  width:63px;
  height:25px;
}
#u6703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6703_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6703_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u6704 {
  position:absolute;
  left:337px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6705 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6706 {
  position:absolute;
  left:412px;
  top:254px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6707 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6708 {
  position:absolute;
  left:412px;
  top:498px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6709 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u6710 {
  position:absolute;
  left:412px;
  top:370px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6712 {
  position:absolute;
  left:340px;
  top:254px;
  width:27px;
  height:25px;
}
#u6712_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6712_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6712_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6713 {
  position:absolute;
  left:340px;
  top:370px;
  width:27px;
  height:25px;
}
#u6713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6713_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6713_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6714 {
  position:absolute;
  left:340px;
  top:498px;
  width:27px;
  height:25px;
}
#u6714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6714_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6714_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u6715 {
  position:absolute;
  left:408px;
  top:183px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6716 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6717 {
  position:absolute;
  left:323px;
  top:579px;
  width:63px;
  height:25px;
}
#u6717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6717_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6717_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6718 {
  position:absolute;
  left:250px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u6720 {
  position:absolute;
  left:348px;
  top:120px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6721 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6722 {
  position:absolute;
  left:423px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6723 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6725 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6726 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u6727 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u6728 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6729 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6730 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6731 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6732 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6733 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6734 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6735 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6736 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6737 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6738 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6739 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6740 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6741 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6742 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u6743 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6744 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6745 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6746 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6747 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6748 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6749 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6750 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
