body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u7230 {
  position:absolute;
  left:0px;
  top:68px;
  width:1200px;
  height:801px;
}
#u7231 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
}
#u7232 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:869px;
  font-size:16px;
}
#u7233 {
  position:absolute;
  left:2px;
  top:426px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7234 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7235 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u7236 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7237 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u7238 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u7239 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7240 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u7241 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7242 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7243 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u7244 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u7245 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7246 {
  position:absolute;
  left:250px;
  top:164px;
  width:900px;
  height:1px;
}
#u7247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u7248 {
  position:absolute;
  left:250px;
  top:219px;
  width:900px;
  height:96px;
}
#u7249 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7250 {
  position:absolute;
  left:467px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7251 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7252 {
  position:absolute;
  left:640px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7253 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7254 {
  position:absolute;
  left:1083px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7255 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7256 {
  position:absolute;
  left:467px;
  top:234px;
  width:70px;
  height:70px;
}
#u7257 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7258 {
  position:absolute;
  left:640px;
  top:254px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7259 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7260 {
  position:absolute;
  left:1083px;
  top:254px;
  width:20px;
  height:20px;
}
#u7261 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u7262 {
  position:absolute;
  left:250px;
  top:463px;
  width:900px;
  height:96px;
}
#u7263 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7264 {
  position:absolute;
  left:467px;
  top:478px;
  width:70px;
  height:70px;
}
#u7265 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7266 {
  position:absolute;
  left:640px;
  top:498px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7267 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7268 {
  position:absolute;
  left:1083px;
  top:498px;
  width:20px;
  height:20px;
}
#u7269 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u7270 {
  position:absolute;
  left:467px;
  top:349px;
  width:70px;
  height:70px;
}
#u7271 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7272 {
  position:absolute;
  left:640px;
  top:370px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7273 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7274 {
  position:absolute;
  left:1083px;
  top:370px;
  width:20px;
  height:20px;
}
#u7275 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7276 {
  position:absolute;
  left:1073px;
  top:121px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7277 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7278 {
  position:absolute;
  left:1023px;
  top:121px;
  width:20px;
  height:20px;
}
#u7279 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u7280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7280 {
  position:absolute;
  left:841px;
  top:183px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7281 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u7282 {
  position:absolute;
  left:841px;
  top:254px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7283 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u7284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u7284 {
  position:absolute;
  left:841px;
  top:370px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7285 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u7286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u7286 {
  position:absolute;
  left:841px;
  top:498px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7287 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u7288 {
  position:absolute;
  left:286px;
  top:252px;
  width:27px;
  height:16px;
}
#u7289 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7288_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7290 {
  position:absolute;
  left:286px;
  top:363px;
  width:27px;
  height:16px;
}
#u7291 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7292 {
  position:absolute;
  left:286px;
  top:496px;
  width:27px;
  height:16px;
}
#u7293 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7292_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7294 {
  position:absolute;
  left:286px;
  top:185px;
  width:27px;
  height:16px;
}
#u7295 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7294_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7294_ann {
  position:absolute;
  left:306px;
  top:181px;
  width:1px;
  height:1px;
}
#u7296 {
  position:absolute;
  left:250px;
  top:579px;
  width:63px;
  height:25px;
}
#u7296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7296_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7296_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7297 {
  position:absolute;
  left:400px;
  top:579px;
  width:63px;
  height:25px;
}
#u7297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7297_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7297_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7298 {
  position:absolute;
  left:337px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7299 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7300 {
  position:absolute;
  left:412px;
  top:254px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7301 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7302 {
  position:absolute;
  left:412px;
  top:498px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7303 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7304 {
  position:absolute;
  left:412px;
  top:370px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7305 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7306 {
  position:absolute;
  left:340px;
  top:254px;
  width:27px;
  height:25px;
}
#u7306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7306_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7306_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7307 {
  position:absolute;
  left:340px;
  top:370px;
  width:27px;
  height:25px;
}
#u7307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7307_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7307_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7308 {
  position:absolute;
  left:340px;
  top:498px;
  width:27px;
  height:25px;
}
#u7308_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7308_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7308_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7309 {
  position:absolute;
  left:408px;
  top:183px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7310 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7311 {
  position:absolute;
  left:323px;
  top:579px;
  width:63px;
  height:25px;
}
#u7311_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7311_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7311_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
}
#u7312 {
  position:absolute;
  left:268px;
  top:121px;
  width:35px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7313 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u7312_ann {
  position:absolute;
  left:296px;
  top:117px;
  width:1px;
  height:1px;
}
#u7315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7315 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7316 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7317 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u7318 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7319 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7320 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7321 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7322 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7323 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7324 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7325 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7326 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7327 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7328 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7329 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7330 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7331 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7332 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u7333 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7334 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7335 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7336 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7337 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7338 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7339 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7340 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
