body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
}
#u4084 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:952px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4088 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u4090 {
  position:absolute;
  left:264px;
  top:73px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u4092 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u4093 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4094 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4096 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4097 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:894px;
}
#u4098 {
  position:absolute;
  left:200px;
  top:60px;
  width:1px;
  height:893px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:438px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4100 {
  position:absolute;
  left:381px;
  top:79px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4102 {
  position:absolute;
  left:264px;
  top:186px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4104 {
  position:absolute;
  left:264px;
  top:281px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4106 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4107 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4108 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u4109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:101px;
}
#u4110 {
  position:absolute;
  left:371px;
  top:281px;
  width:134px;
  height:100px;
}
#u4111 {
  position:absolute;
  left:2px;
  top:40px;
  width:130px;
  word-wrap:break-word;
}
#u4112 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:25px;
}
#u4112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4112_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4112_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4113 {
  position:absolute;
  left:371px;
  top:738px;
  width:140px;
  height:40px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4115 {
  position:absolute;
  left:264px;
  top:400px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:223px;
}
#u4117 {
  position:absolute;
  left:371px;
  top:400px;
  width:779px;
  height:222px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:102px;
  width:775px;
  word-wrap:break-word;
}
#u4119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u4119 {
  position:absolute;
  left:1053px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4121 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u4122 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4123 {
  position:absolute;
  left:264px;
  top:651px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4125 {
  position:absolute;
  left:371px;
  top:651px;
  width:300px;
  height:25px;
}
#u4125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4125_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4125_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4126 {
  position:absolute;
  left:264px;
  top:238px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4128 {
  position:absolute;
  left:371px;
  top:238px;
  width:300px;
  height:22px;
}
#u4128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4128_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4128_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4128_input:disabled {
  color:grayText;
}
#u4128_ann {
  position:absolute;
  left:664px;
  top:234px;
  width:1px;
  height:1px;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4130 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4132 {
  position:absolute;
  left:0px;
  top:651px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4134 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4136 {
  position:absolute;
  left:62px;
  top:664px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4138 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4140 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4142 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4144 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4146 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4147 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u4148 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4149 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4150 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4151 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4152 {
  position:absolute;
  left:62px;
  top:598px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4153 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
