body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1000px;
}
#u1813 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1000px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1814 {
  position:absolute;
  left:2px;
  top:492px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1815 {
  position:absolute;
  left:199px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1816 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1817 {
  position:absolute;
  left:210px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1819 {
  position:absolute;
  left:379px;
  top:890px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1820 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1821 {
  position:absolute;
  left:820px;
  top:18px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1823 {
  position:absolute;
  left:610px;
  top:26px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u1825 {
  position:absolute;
  left:199px;
  top:108px;
  width:101px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1826 {
  position:absolute;
  left:2px;
  top:13px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:215px;
}
#u1828 {
  position:absolute;
  left:201px;
  top:270px;
  width:398px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1829 {
  position:absolute;
  left:2px;
  top:100px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_ann {
  position:absolute;
  left:592px;
  top:266px;
  width:1px;
  height:1px;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u1830 {
  position:absolute;
  left:210px;
  top:498px;
  width:109px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1833 {
  position:absolute;
  left:331px;
  top:509px;
  width:47px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1835 {
  position:absolute;
  left:325px;
  top:519px;
  width:60px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u1837 {
  position:absolute;
  left:501px;
  top:499px;
  width:90px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
}
#u1838 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1839 {
  position:absolute;
  left:201px;
  top:549px;
  width:400px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:27px;
}
#u1841 {
  position:absolute;
  left:233px;
  top:426px;
  width:227px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:215px;
}
#u1843 {
  position:absolute;
  left:199px;
  top:51px;
  width:400px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1844 {
  position:absolute;
  left:2px;
  top:98px;
  width:396px;
  word-wrap:break-word;
}
#u1843_ann {
  position:absolute;
  left:592px;
  top:47px;
  width:1px;
  height:1px;
}
#u1845 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:215px;
}
#u1846 {
  position:absolute;
  left:201px;
  top:560px;
  width:398px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1847 {
  position:absolute;
  left:2px;
  top:100px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u1848 {
  position:absolute;
  left:210px;
  top:788px;
  width:109px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1851 {
  position:absolute;
  left:331px;
  top:799px;
  width:47px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1853 {
  position:absolute;
  left:325px;
  top:809px;
  width:60px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1854 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u1855 {
  position:absolute;
  left:501px;
  top:789px;
  width:90px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
}
#u1856 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1857 {
  position:absolute;
  left:201px;
  top:839px;
  width:400px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1858 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:27px;
}
#u1859 {
  position:absolute;
  left:233px;
  top:716px;
  width:227px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1860 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:39px;
}
#u1861 {
  position:absolute;
  left:820px;
  top:151px;
  width:193px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1863 {
  position:absolute;
  left:610px;
  top:159px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
