body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u7439 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u7440 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7441 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7442 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u7443 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7444 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u7445 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u7446 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7447 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u7448 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7449 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7450 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:894px;
}
#u7451 {
  position:absolute;
  left:200px;
  top:60px;
  width:1px;
  height:893px;
}
#u7452 {
  position:absolute;
  left:2px;
  top:438px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7453 {
  position:absolute;
  left:264px;
  top:186px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7454 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u7455 {
  position:absolute;
  left:264px;
  top:225px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7456 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7457 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u7458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:101px;
}
#u7459 {
  position:absolute;
  left:371px;
  top:225px;
  width:149px;
  height:100px;
}
#u7460 {
  position:absolute;
  left:2px;
  top:40px;
  width:145px;
  word-wrap:break-word;
}
#u7461 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:25px;
}
#u7461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7461_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7461_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u7462 {
  position:absolute;
  left:371px;
  top:747px;
  width:140px;
  height:40px;
}
#u7463 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7464 {
  position:absolute;
  left:264px;
  top:342px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7465 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:223px;
}
#u7466 {
  position:absolute;
  left:371px;
  top:342px;
  width:779px;
  height:222px;
}
#u7467 {
  position:absolute;
  left:2px;
  top:102px;
  width:775px;
  word-wrap:break-word;
}
#u7468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u7468 {
  position:absolute;
  left:1055px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7469 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7470 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u7471 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7472 {
  position:absolute;
  left:264px;
  top:643px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7473 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7474 {
  position:absolute;
  left:371px;
  top:643px;
  width:300px;
  height:25px;
}
#u7474_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7474_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7474_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7475 {
  position:absolute;
  left:264px;
  top:590px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7477 {
  position:absolute;
  left:371px;
  top:590px;
  width:300px;
  height:25px;
}
#u7477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7477_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7477_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7478 {
  position:absolute;
  left:690px;
  top:593px;
  width:100px;
  height:19px;
}
#u7479 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7478_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7478_ann {
  position:absolute;
  left:783px;
  top:589px;
  width:1px;
  height:1px;
}
#u7480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7480 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7481 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7483 {
  position:absolute;
  left:61px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7484 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7485 {
  position:absolute;
  left:-1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u7486 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7487 {
  position:absolute;
  left:61px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7488 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7489 {
  position:absolute;
  left:61px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7490 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7491 {
  position:absolute;
  left:61px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7492 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7493 {
  position:absolute;
  left:61px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7494 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7495 {
  position:absolute;
  left:61px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7496 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7497 {
  position:absolute;
  left:61px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7498 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7499 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7500 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u7501 {
  position:absolute;
  left:52px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7502 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7503 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7504 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7505 {
  position:absolute;
  left:61px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7506 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7507 {
  position:absolute;
  left:61px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7508 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
