body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1342 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1344 {
  position:absolute;
  left:198px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1346 {
  position:absolute;
  left:199px;
  top:584px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1348 {
  position:absolute;
  left:199px;
  top:898px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1349 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1350 {
  position:absolute;
  left:199px;
  top:270px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1352 {
  position:absolute;
  left:268px;
  top:316px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1354 {
  position:absolute;
  left:268px;
  top:343px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1355 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1356 {
  position:absolute;
  left:268px;
  top:545px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1358 {
  position:absolute;
  left:544px;
  top:550px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1359 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1360 {
  position:absolute;
  left:576px;
  top:551px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1362 {
  position:absolute;
  left:268px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1364 {
  position:absolute;
  left:268px;
  top:626px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1366 {
  position:absolute;
  left:268px;
  top:653px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1367 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1368 {
  position:absolute;
  left:268px;
  top:855px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1370 {
  position:absolute;
  left:544px;
  top:860px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1371 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1372 {
  position:absolute;
  left:576px;
  top:861px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1374 {
  position:absolute;
  left:268px;
  top:600px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1376 {
  position:absolute;
  left:268px;
  top:936px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1377 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1378 {
  position:absolute;
  left:268px;
  top:963px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1379 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1380 {
  position:absolute;
  left:268px;
  top:1165px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1382 {
  position:absolute;
  left:576px;
  top:1171px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1384 {
  position:absolute;
  left:268px;
  top:910px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1386 {
  position:absolute;
  left:544px;
  top:1170px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1387 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1388 {
  position:absolute;
  left:218px;
  top:290px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1390 {
  position:absolute;
  left:218px;
  top:600px;
  width:40px;
  height:40px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1392 {
  position:absolute;
  left:218px;
  top:910px;
  width:40px;
  height:40px;
}
#u1393 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1394 {
  position:absolute;
  left:820px;
  top:151px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1396 {
  position:absolute;
  left:610px;
  top:159px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u1398 {
  position:absolute;
  left:820px;
  top:418px;
  width:216px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1400 {
  position:absolute;
  left:610px;
  top:426px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1402 {
  position:absolute;
  left:199px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1403 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1404 {
  position:absolute;
  left:210px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1406 {
  position:absolute;
  left:378px;
  top:1230px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1407 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1408 {
  position:absolute;
  left:820px;
  top:545px;
  width:70px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1410 {
  position:absolute;
  left:610px;
  top:553px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1411 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
