body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:23px;
  width:1200px;
  height:801px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u5978 {
  position:absolute;
  left:250px;
  top:274px;
  width:900px;
  height:60px;
}
#u5979 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u5981 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5983 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u5984 {
  position:absolute;
  left:278px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5985 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u5986 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u5987 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5988 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5990 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u5992 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u5993 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5994 {
  position:absolute;
  left:357px;
  top:240px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5996 {
  position:absolute;
  left:680px;
  top:240px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5998 {
  position:absolute;
  left:574px;
  top:240px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u6000 {
  position:absolute;
  left:682px;
  top:292px;
  width:88px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u6001 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u6002 {
  position:absolute;
  left:576px;
  top:292px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6004 {
  position:absolute;
  left:250px;
  top:161px;
  width:900px;
  height:1px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6007 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6008 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u6009 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6011 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6012 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6013 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6014 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6015 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6016 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6017 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6019 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6020 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6021 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6022 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6023 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u6025 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6026 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6027 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6028 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6029 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6030 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6031 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u6033 {
  position:absolute;
  left:1040px;
  top:240px;
  width:29px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u6034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6035 {
  position:absolute;
  left:1076px;
  top:186px;
  width:20px;
  height:20px;
}
#u6036 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u6035_ann {
  position:absolute;
  left:1089px;
  top:182px;
  width:1px;
  height:1px;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u6037 {
  position:absolute;
  left:489px;
  top:189px;
  width:72px;
  height:20px;
  color:#000000;
}
#u6038 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u6039 {
  position:absolute;
  left:565px;
  top:186px;
  width:107px;
  height:25px;
}
#u6039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6039_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6039_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:113px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u6040 {
  position:absolute;
  left:357px;
  top:292px;
  width:169px;
  height:20px;
  color:#000000;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6042 {
  position:absolute;
  left:286px;
  top:361px;
  width:27px;
  height:16px;
}
#u6043 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6044 {
  position:absolute;
  left:286px;
  top:292px;
  width:27px;
  height:16px;
}
#u6045 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6044_ann {
  position:absolute;
  left:306px;
  top:288px;
  width:1px;
  height:1px;
}
#u6046 {
  position:absolute;
  left:351px;
  top:424px;
  width:63px;
  height:25px;
}
#u6046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6046_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6046_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6047 {
  position:absolute;
  left:424px;
  top:424px;
  width:63px;
  height:25px;
}
#u6047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6047_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6047_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6048 {
  position:absolute;
  left:286px;
  top:424px;
  width:27px;
  height:16px;
}
#u6049 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6050 {
  position:absolute;
  left:1040px;
  top:292px;
  width:56px;
  height:25px;
}
#u6050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6050_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6050_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6051 {
  position:absolute;
  left:286px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6052 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u6053 {
  position:absolute;
  left:275px;
  top:188px;
  width:72px;
  height:20px;
  color:#000000;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u6055 {
  position:absolute;
  left:347px;
  top:186px;
  width:107px;
  height:25px;
}
#u6055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6055_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6055_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:113px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u6056 {
  position:absolute;
  left:376px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u6058 {
  position:absolute;
  left:708px;
  top:186px;
  width:71px;
  height:20px;
  color:#000000;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6060 {
  position:absolute;
  left:789px;
  top:186px;
  width:120px;
  height:25px;
}
#u6060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6060_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6060_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u6061 {
  position:absolute;
  left:917px;
  top:186px;
  width:11px;
  height:20px;
  color:#000000;
}
#u6062 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u6063 {
  position:absolute;
  left:940px;
  top:186px;
  width:120px;
  height:25px;
}
#u6063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6063_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u6063_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u6064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u6064 {
  position:absolute;
  left:682px;
  top:361px;
  width:88px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u6065 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u6066 {
  position:absolute;
  left:576px;
  top:361px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u6068 {
  position:absolute;
  left:357px;
  top:361px;
  width:169px;
  height:20px;
  color:#000000;
}
#u6069 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6070 {
  position:absolute;
  left:1040px;
  top:361px;
  width:56px;
  height:25px;
}
#u6070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6070_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u6070_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
