body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5864 {
  position:absolute;
  left:0px;
  top:23px;
  width:1200px;
  height:801px;
}
#u5865 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u5866 {
  position:absolute;
  left:250px;
  top:274px;
  width:900px;
  height:60px;
}
#u5867 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u5869 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5870 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5871 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u5872 {
  position:absolute;
  left:278px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5873 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u5874 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u5875 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5876 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u5877 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5878 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5879 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u5880 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5882 {
  position:absolute;
  left:357px;
  top:240px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5884 {
  position:absolute;
  left:680px;
  top:240px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5885 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5886 {
  position:absolute;
  left:574px;
  top:240px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5887 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u5888 {
  position:absolute;
  left:682px;
  top:292px;
  width:88px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5889 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u5890 {
  position:absolute;
  left:576px;
  top:292px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5891 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u5892 {
  position:absolute;
  left:250px;
  top:161px;
  width:900px;
  height:1px;
}
#u5893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5895 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5896 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u5897 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u5898 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5899 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5900 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5901 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5903 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5904 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5905 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5906 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5907 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5908 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5909 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5911 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5912 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u5913 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5914 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5915 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5917 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5919 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5920 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u5921 {
  position:absolute;
  left:1040px;
  top:240px;
  width:29px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5923 {
  position:absolute;
  left:1076px;
  top:186px;
  width:20px;
  height:20px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5923_ann {
  position:absolute;
  left:1089px;
  top:182px;
  width:1px;
  height:1px;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5925 {
  position:absolute;
  left:489px;
  top:189px;
  width:72px;
  height:20px;
  color:#000000;
}
#u5926 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u5927 {
  position:absolute;
  left:565px;
  top:186px;
  width:107px;
  height:25px;
}
#u5927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5927_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5927_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:113px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5928 {
  position:absolute;
  left:357px;
  top:292px;
  width:169px;
  height:20px;
  color:#000000;
}
#u5929 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5930 {
  position:absolute;
  left:286px;
  top:361px;
  width:27px;
  height:16px;
}
#u5931 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5930_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5932 {
  position:absolute;
  left:286px;
  top:292px;
  width:27px;
  height:16px;
}
#u5933 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5932_ann {
  position:absolute;
  left:306px;
  top:288px;
  width:1px;
  height:1px;
}
#u5934 {
  position:absolute;
  left:351px;
  top:424px;
  width:63px;
  height:25px;
}
#u5934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5934_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5934_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5935 {
  position:absolute;
  left:424px;
  top:424px;
  width:63px;
  height:25px;
}
#u5935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5935_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5935_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5936 {
  position:absolute;
  left:286px;
  top:424px;
  width:27px;
  height:16px;
}
#u5937 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5938 {
  position:absolute;
  left:1040px;
  top:292px;
  width:56px;
  height:25px;
}
#u5938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5938_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5938_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5939 {
  position:absolute;
  left:286px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5940 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u5941 {
  position:absolute;
  left:275px;
  top:188px;
  width:72px;
  height:20px;
  color:#000000;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u5943 {
  position:absolute;
  left:347px;
  top:186px;
  width:107px;
  height:25px;
}
#u5943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5943_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5943_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:113px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5944 {
  position:absolute;
  left:376px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5945 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u5946 {
  position:absolute;
  left:708px;
  top:186px;
  width:71px;
  height:20px;
  color:#000000;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5948 {
  position:absolute;
  left:789px;
  top:186px;
  width:120px;
  height:25px;
}
#u5948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5948_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5948_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u5949 {
  position:absolute;
  left:917px;
  top:186px;
  width:11px;
  height:20px;
  color:#000000;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u5951 {
  position:absolute;
  left:940px;
  top:186px;
  width:120px;
  height:25px;
}
#u5951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5951_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5951_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
}
#u5952 {
  position:absolute;
  left:682px;
  top:361px;
  width:88px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u5954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u5954 {
  position:absolute;
  left:576px;
  top:361px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u5956 {
  position:absolute;
  left:357px;
  top:361px;
  width:169px;
  height:20px;
  color:#000000;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5958 {
  position:absolute;
  left:1040px;
  top:361px;
  width:56px;
  height:25px;
}
#u5958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5958_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5958_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
