body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u5115 {
  position:absolute;
  left:250px;
  top:220px;
  width:900px;
  height:60px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u5117 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u5118 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5119 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u5121 {
  position:absolute;
  left:273px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u5123 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5125 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5127 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u5129 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u5131 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5133 {
  position:absolute;
  left:262px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5133_ann {
  position:absolute;
  left:320px;
  top:116px;
  width:1px;
  height:1px;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5135 {
  position:absolute;
  left:345px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5136 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5137 {
  position:absolute;
  left:266px;
  top:750px;
  width:20px;
  height:20px;
}
#u5138 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5139 {
  position:absolute;
  left:296px;
  top:750px;
  width:20px;
  height:20px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5141 {
  position:absolute;
  left:326px;
  top:750px;
  width:20px;
  height:20px;
}
#u5142 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u5143 {
  position:absolute;
  left:266px;
  top:180px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5145 {
  position:absolute;
  left:345px;
  top:180px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5146 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5147 {
  position:absolute;
  left:974px;
  top:180px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5148 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5149 {
  position:absolute;
  left:974px;
  top:233px;
  width:56px;
  height:25px;
}
#u5149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5149_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5149_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:477px;
}
#u5150 {
  position:absolute;
  left:488px;
  top:303px;
  width:452px;
  height:477px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:230px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_ann {
  position:absolute;
  left:933px;
  top:299px;
  width:1px;
  height:1px;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5152 {
  position:absolute;
  left:560px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5153 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5154 {
  position:absolute;
  left:265px;
  top:238px;
  width:15px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5156 {
  position:absolute;
  left:346px;
  top:238px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5158 {
  position:absolute;
  left:561px;
  top:238px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5160 {
  position:absolute;
  left:710px;
  top:180px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5162 {
  position:absolute;
  left:709px;
  top:238px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5164 {
  position:absolute;
  left:841px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5165 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u5166 {
  position:absolute;
  left:840px;
  top:238px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5168 {
  position:absolute;
  left:519px;
  top:459px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5170 {
  position:absolute;
  left:519px;
  top:393px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5172 {
  position:absolute;
  left:519px;
  top:577px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5173 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5174 {
  position:absolute;
  left:519px;
  top:678px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5175 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5176 {
  position:absolute;
  left:610px;
  top:578px;
  width:300px;
  height:82px;
}
#u5176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5176_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5176_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5177 {
  position:absolute;
  left:610px;
  top:678px;
  width:300px;
  height:22px;
}
#u5177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5177_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5177_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5177_input:disabled {
  color:grayText;
}
#u5178 {
  position:absolute;
  left:610px;
  top:729px;
  width:140px;
  height:25px;
}
#u5178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5178_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5178_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u5179 {
  position:absolute;
  left:610px;
  top:459px;
  width:119px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5180 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5181 {
  position:absolute;
  left:610px;
  top:393px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5182 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u5183 {
  position:absolute;
  left:519px;
  top:498px;
  width:49px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5184 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u5185 {
  position:absolute;
  left:519px;
  top:534px;
  width:49px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5186 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5187 {
  position:absolute;
  left:920px;
  top:303px;
  width:20px;
  height:20px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5189 {
  position:absolute;
  left:436px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5190 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u5191 {
  position:absolute;
  left:437px;
  top:238px;
  width:78px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5192 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5194 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5195 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u5196 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5198 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5199 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5200 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5202 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5204 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5205 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5206 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5207 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5208 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5209 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5210 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u5212 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5213 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5214 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5216 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5217 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5218 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5220 {
  position:absolute;
  left:519px;
  top:429px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5221 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u5222 {
  position:absolute;
  left:610px;
  top:429px;
  width:78px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5224 {
  position:absolute;
  left:610px;
  top:498px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5225 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5226 {
  position:absolute;
  left:610px;
  top:534px;
  width:49px;
  height:17px;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5226_ann {
  position:absolute;
  left:652px;
  top:530px;
  width:1px;
  height:1px;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5228 {
  position:absolute;
  left:614px;
  top:339px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5229 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
