body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5379 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5380 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u5381 {
  position:absolute;
  left:250px;
  top:220px;
  width:900px;
  height:60px;
}
#u5382 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u5384 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5386 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u5387 {
  position:absolute;
  left:273px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5388 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u5389 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u5390 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5391 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u5392 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5393 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5394 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u5395 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u5396 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u5397 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u5398 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5399 {
  position:absolute;
  left:262px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5400 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5399_ann {
  position:absolute;
  left:320px;
  top:116px;
  width:1px;
  height:1px;
}
#u5401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5401 {
  position:absolute;
  left:345px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5402 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5403 {
  position:absolute;
  left:266px;
  top:750px;
  width:20px;
  height:20px;
}
#u5404 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5405 {
  position:absolute;
  left:296px;
  top:750px;
  width:20px;
  height:20px;
}
#u5406 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5407 {
  position:absolute;
  left:326px;
  top:750px;
  width:20px;
  height:20px;
}
#u5408 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u5409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u5409 {
  position:absolute;
  left:266px;
  top:180px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5410 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5411 {
  position:absolute;
  left:345px;
  top:180px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5413 {
  position:absolute;
  left:974px;
  top:180px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5414 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5415 {
  position:absolute;
  left:974px;
  top:233px;
  width:56px;
  height:25px;
}
#u5415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5415_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5415_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:477px;
}
#u5416 {
  position:absolute;
  left:488px;
  top:303px;
  width:452px;
  height:477px;
}
#u5417 {
  position:absolute;
  left:2px;
  top:230px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5416_ann {
  position:absolute;
  left:933px;
  top:299px;
  width:1px;
  height:1px;
}
#u5418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5418 {
  position:absolute;
  left:560px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5420 {
  position:absolute;
  left:265px;
  top:238px;
  width:15px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5421 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5422 {
  position:absolute;
  left:346px;
  top:238px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5423 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5424 {
  position:absolute;
  left:561px;
  top:238px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5425 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5426 {
  position:absolute;
  left:710px;
  top:180px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5427 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5428 {
  position:absolute;
  left:709px;
  top:238px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5429 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5430 {
  position:absolute;
  left:841px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u5432 {
  position:absolute;
  left:840px;
  top:238px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5433 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5434 {
  position:absolute;
  left:519px;
  top:459px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5435 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5436 {
  position:absolute;
  left:519px;
  top:393px;
  width:37px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5437 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5438 {
  position:absolute;
  left:519px;
  top:577px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5439 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5440 {
  position:absolute;
  left:519px;
  top:678px;
  width:25px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5441 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5442 {
  position:absolute;
  left:610px;
  top:578px;
  width:300px;
  height:82px;
}
#u5442_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5442_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5442_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5443 {
  position:absolute;
  left:610px;
  top:678px;
  width:300px;
  height:22px;
}
#u5443_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5443_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5443_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5443_input:disabled {
  color:grayText;
}
#u5444 {
  position:absolute;
  left:610px;
  top:729px;
  width:140px;
  height:25px;
}
#u5444_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5444_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u5444_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u5445 {
  position:absolute;
  left:610px;
  top:459px;
  width:119px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5446 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u5447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u5447 {
  position:absolute;
  left:610px;
  top:393px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5448 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u5449 {
  position:absolute;
  left:519px;
  top:498px;
  width:49px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5450 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u5451 {
  position:absolute;
  left:519px;
  top:534px;
  width:49px;
  height:15px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5452 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5453 {
  position:absolute;
  left:920px;
  top:303px;
  width:20px;
  height:20px;
}
#u5454 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5455 {
  position:absolute;
  left:436px;
  top:180px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u5456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u5457 {
  position:absolute;
  left:437px;
  top:238px;
  width:78px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5458 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5460 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5461 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u5462 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u5463 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5464 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5465 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5466 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5467 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5468 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5469 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5470 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5471 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5472 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5473 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5474 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5475 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5476 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5477 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u5478 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5479 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5480 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5481 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5482 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5483 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5484 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5485 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5486 {
  position:absolute;
  left:519px;
  top:429px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5487 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u5488 {
  position:absolute;
  left:610px;
  top:429px;
  width:78px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5489 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u5490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5490 {
  position:absolute;
  left:610px;
  top:498px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u5491 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5492 {
  position:absolute;
  left:610px;
  top:534px;
  width:49px;
  height:17px;
  font-size:12px;
  text-decoration:underline;
  color:#000000;
}
#u5493 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5492_ann {
  position:absolute;
  left:652px;
  top:530px;
  width:1px;
  height:1px;
}
#u5494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5494 {
  position:absolute;
  left:614px;
  top:339px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5495 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
