body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1360px;
}
#u2598 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1360px;
}
#u2599 {
  position:absolute;
  left:2px;
  top:672px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2600 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2601 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2602 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2603 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2604 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:398px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2606 {
  position:absolute;
  left:201px;
  top:449px;
  width:398px;
  height:398px;
}
#u2607 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2608 {
  position:absolute;
  left:201px;
  top:847px;
  width:398px;
  height:398px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2610 {
  position:absolute;
  left:280px;
  top:236px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2611 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2612 {
  position:absolute;
  left:385px;
  top:274px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2613 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2614 {
  position:absolute;
  left:280px;
  top:666px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2616 {
  position:absolute;
  left:385px;
  top:704px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2618 {
  position:absolute;
  left:280px;
  top:1080px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2620 {
  position:absolute;
  left:385px;
  top:1118px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u2622 {
  position:absolute;
  left:379px;
  top:1270px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2623 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
