body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1360px;
}
#u2462 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1360px;
}
#u2463 {
  position:absolute;
  left:2px;
  top:672px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2464 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2465 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2466 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2467 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2468 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:398px;
}
#u2469 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2470 {
  position:absolute;
  left:201px;
  top:449px;
  width:398px;
  height:398px;
}
#u2471 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2472 {
  position:absolute;
  left:201px;
  top:847px;
  width:398px;
  height:398px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2474 {
  position:absolute;
  left:280px;
  top:236px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2475 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2476 {
  position:absolute;
  left:385px;
  top:274px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2477 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2478 {
  position:absolute;
  left:280px;
  top:666px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2479 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2480 {
  position:absolute;
  left:385px;
  top:704px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2481 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u2482 {
  position:absolute;
  left:280px;
  top:1080px;
  width:241px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2483 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u2484 {
  position:absolute;
  left:385px;
  top:1118px;
  width:31px;
  height:20px;
  color:#CCCCCC;
}
#u2485 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u2486 {
  position:absolute;
  left:379px;
  top:1270px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2487 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
