body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
}
#u7332 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:952px;
}
#u7333 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u7334 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u7335 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7336 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7337 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u7338 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7339 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u7340 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u7341 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7342 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u7343 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7344 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7345 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:904px;
}
#u7346 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:903px;
}
#u7347 {
  position:absolute;
  left:2px;
  top:444px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u7348 {
  position:absolute;
  left:264px;
  top:225px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7349 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7350 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u7351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:101px;
}
#u7352 {
  position:absolute;
  left:371px;
  top:225px;
  width:149px;
  height:100px;
}
#u7353 {
  position:absolute;
  left:2px;
  top:40px;
  width:145px;
  word-wrap:break-word;
}
#u7354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u7354 {
  position:absolute;
  left:371px;
  top:400px;
  width:140px;
  height:40px;
}
#u7355 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u7356 {
  position:absolute;
  left:1055px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7357 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7358 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u7359 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7361 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7362 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7363 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u7364 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7365 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7366 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7367 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7368 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7369 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7370 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7371 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7372 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7373 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7374 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7375 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7376 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7377 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7378 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u7379 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7380 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7381 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7382 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7383 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7384 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7385 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7386 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
