body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u4796 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:801px;
}
#u4797 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u4799 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4800 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4801 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u4802 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4803 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u4804 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u4805 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4806 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u4807 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4808 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4809 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u4810 {
  position:absolute;
  left:1107px;
  top:94px;
  width:200px;
  height:1px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4812 {
  position:absolute;
  left:1327px;
  top:86px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4813 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4814 {
  position:absolute;
  left:1327px;
  top:113px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4815 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4816 {
  position:absolute;
  left:1327px;
  top:140px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4817 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4818 {
  position:absolute;
  left:1327px;
  top:167px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4820 {
  position:absolute;
  left:1327px;
  top:194px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4821 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u4822 {
  position:absolute;
  left:1327px;
  top:221px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4824 {
  position:absolute;
  left:264px;
  top:186px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4826 {
  position:absolute;
  left:264px;
  top:249px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4827 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4828 {
  position:absolute;
  left:264px;
  top:374px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4829 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4830 {
  position:absolute;
  left:264px;
  top:309px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4832 {
  position:absolute;
  left:264px;
  top:216px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4833 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4834 {
  position:absolute;
  left:264px;
  top:279px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u4836 {
  position:absolute;
  left:264px;
  top:341px;
  width:89px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4837 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u4838 {
  position:absolute;
  left:264px;
  top:404px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4839 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u4840 {
  position:absolute;
  left:650px;
  top:186px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u4842 {
  position:absolute;
  left:650px;
  top:252px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4843 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u4844 {
  position:absolute;
  left:650px;
  top:217px;
  width:77px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4845 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u4846 {
  position:absolute;
  left:650px;
  top:282px;
  width:74px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4847 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u4848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4848 {
  position:absolute;
  left:250px;
  top:460px;
  width:900px;
  height:1px;
}
#u4849 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4850 {
  position:absolute;
  left:264px;
  top:526px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4852 {
  position:absolute;
  left:264px;
  top:589px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u4854 {
  position:absolute;
  left:264px;
  top:647px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4856 {
  position:absolute;
  left:264px;
  top:559px;
  width:300px;
  height:25px;
}
#u4856_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4856_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4856_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4857 {
  position:absolute;
  left:264px;
  top:619px;
  width:300px;
  height:25px;
}
#u4857_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4857_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4857_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4858 {
  position:absolute;
  left:264px;
  top:677px;
  width:300px;
  height:25px;
}
#u4858_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4858_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4858_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4859 {
  position:absolute;
  left:264px;
  top:721px;
  width:140px;
  height:40px;
}
#u4860 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4861 {
  position:absolute;
  left:264px;
  top:479px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4862 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u4863 {
  position:absolute;
  left:256px;
  top:120px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4865 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u4866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u4867 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4869 {
  position:absolute;
  left:361px;
  top:79px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4871 {
  position:absolute;
  left:382px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4874 {
  position:absolute;
  left:61px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4876 {
  position:absolute;
  left:-1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4878 {
  position:absolute;
  left:61px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4880 {
  position:absolute;
  left:61px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4882 {
  position:absolute;
  left:61px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4884 {
  position:absolute;
  left:61px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4886 {
  position:absolute;
  left:61px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4888 {
  position:absolute;
  left:61px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4890 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u4892 {
  position:absolute;
  left:52px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4894 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4896 {
  position:absolute;
  left:61px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4898 {
  position:absolute;
  left:61px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:548px;
}
#u4900 {
  position:absolute;
  left:1241px;
  top:252px;
  width:519px;
  height:548px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:266px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
