body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u923 {
  position:absolute;
  left:830px;
  top:1451px;
  width:49px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u925 {
  position:absolute;
  left:620px;
  top:1459px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1490px;
}
#u927 {
  position:absolute;
  left:200px;
  top:10px;
  width:400px;
  height:1490px;
}
#u928 {
  position:absolute;
  left:2px;
  top:737px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:208px;
}
#u929 {
  position:absolute;
  left:201px;
  top:80px;
  width:399px;
  height:208px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:2px;
  top:96px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u931 {
  position:absolute;
  left:481px;
  top:244px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u933 {
  position:absolute;
  left:500px;
  top:244px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u934 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u935 {
  position:absolute;
  left:519px;
  top:244px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u937 {
  position:absolute;
  left:537px;
  top:244px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u939 {
  position:absolute;
  left:556px;
  top:244px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u941 {
  position:absolute;
  left:208px;
  top:494px;
  width:50px;
  height:50px;
  font-size:12px;
}
#u942 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
}
#u943 {
  position:absolute;
  left:269px;
  top:499px;
  width:97px;
  height:17px;
  font-size:12px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:17px;
}
#u945 {
  position:absolute;
  left:269px;
  top:522px;
  width:157px;
  height:17px;
  font-size:12px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:92px;
}
#u948 {
  position:absolute;
  left:201px;
  top:566px;
  width:398px;
  height:92px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:2px;
  top:38px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u951 {
  position:absolute;
  left:251px;
  top:584px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u952 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u953 {
  position:absolute;
  left:277px;
  top:584px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u955 {
  position:absolute;
  left:239px;
  top:614px;
  width:85px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u958 {
  position:absolute;
  left:377px;
  top:584px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u959 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u960 {
  position:absolute;
  left:403px;
  top:584px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u963 {
  position:absolute;
  left:503px;
  top:584px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u965 {
  position:absolute;
  left:529px;
  top:584px;
  width:40px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:71px;
}
#u967 {
  position:absolute;
  left:343px;
  top:577px;
  width:1px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:71px;
}
#u969 {
  position:absolute;
  left:464px;
  top:577px;
  width:1px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u971 {
  position:absolute;
  left:363px;
  top:614px;
  width:85px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:34px;
}
#u973 {
  position:absolute;
  left:498px;
  top:613px;
  width:85px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u975 {
  position:absolute;
  left:256px;
  top:29px;
  width:30px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u976 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u977 {
  position:absolute;
  left:222px;
  top:304px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u978 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u979 {
  position:absolute;
  left:321px;
  top:304px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u980 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u981 {
  position:absolute;
  left:421px;
  top:304px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u983 {
  position:absolute;
  left:520px;
  top:304px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u985 {
  position:absolute;
  left:223px;
  top:361px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u987 {
  position:absolute;
  left:322px;
  top:361px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u989 {
  position:absolute;
  left:422px;
  top:361px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u991 {
  position:absolute;
  left:521px;
  top:361px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u993 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u994 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:35px;
}
#u995 {
  position:absolute;
  left:250px;
  top:26px;
  width:339px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u996 {
  position:absolute;
  left:2px;
  top:8px;
  width:335px;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u997 {
  position:absolute;
  left:207px;
  top:26px;
  width:35px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u998 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:2px;
}
#u999 {
  position:absolute;
  left:201px;
  top:480px;
  width:399px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1001 {
  position:absolute;
  left:222px;
  top:388px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1002 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1003 {
  position:absolute;
  left:322px;
  top:388px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1004 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1005 {
  position:absolute;
  left:421px;
  top:388px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1006 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1007 {
  position:absolute;
  left:521px;
  top:388px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1008 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1009 {
  position:absolute;
  left:223px;
  top:448px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1011 {
  position:absolute;
  left:322px;
  top:448px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:422px;
  top:448px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u1015 {
  position:absolute;
  left:521px;
  top:448px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u1017 {
  position:absolute;
  left:201px;
  top:1420px;
  width:80px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3366;
}
#u1018 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u1019 {
  position:absolute;
  left:361px;
  top:1420px;
  width:80px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1020 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u1021 {
  position:absolute;
  left:519px;
  top:1420px;
  width:80px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1022 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1023 {
  position:absolute;
  left:228px;
  top:1437px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1024 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1025 {
  position:absolute;
  left:386px;
  top:1437px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1026 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1027 {
  position:absolute;
  left:547px;
  top:1437px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u1029 {
  position:absolute;
  left:199px;
  top:1107px;
  width:400px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1030 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:21px;
}
#u1031 {
  position:absolute;
  left:259px;
  top:838px;
  width:166px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:172px;
}
#u1033 {
  position:absolute;
  left:259px;
  top:869px;
  width:307px;
  height:172px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1034 {
  position:absolute;
  left:2px;
  top:78px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1035 {
  position:absolute;
  left:259px;
  top:804px;
  width:50px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u1037 {
  position:absolute;
  left:259px;
  top:780px;
  width:99px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u1039 {
  position:absolute;
  left:259px;
  top:1052px;
  width:109px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF3333;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1042 {
  position:absolute;
  left:380px;
  top:1063px;
  width:47px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:2px;
}
#u1044 {
  position:absolute;
  left:374px;
  top:1073px;
  width:60px;
  height:1px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u1046 {
  position:absolute;
  left:476px;
  top:1057px;
  width:90px;
  height:26px;
  color:#FF3333;
}
#u1047 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:21px;
}
#u1048 {
  position:absolute;
  left:259px;
  top:1185px;
  width:225px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:163px;
}
#u1050 {
  position:absolute;
  left:259px;
  top:1217px;
  width:307px;
  height:163px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1051 {
  position:absolute;
  left:2px;
  top:74px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
}
#u1052 {
  position:absolute;
  left:259px;
  top:1129px;
  width:169px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1054 {
  position:absolute;
  left:209px;
  top:782px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1056 {
  position:absolute;
  left:209px;
  top:1131px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u1058 {
  position:absolute;
  left:259px;
  top:1153px;
  width:50px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u1060 {
  position:absolute;
  left:519px;
  top:782px;
  width:70px;
  height:40px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u1060_ann {
  position:absolute;
  left:582px;
  top:778px;
  width:1px;
  height:1px;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:41px;
}
#u1062 {
  position:absolute;
  left:519px;
  top:1129px;
  width:70px;
  height:40px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
}
#u1064 {
  position:absolute;
  left:309px;
  top:688px;
  width:181px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
}
#u1066 {
  position:absolute;
  left:306px;
  top:732px;
  width:187px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:15px;
}
#u1068 {
  position:absolute;
  left:830px;
  top:595px;
  width:253px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1070 {
  position:absolute;
  left:620px;
  top:603px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:43px;
}
#u1072 {
  position:absolute;
  left:830px;
  top:518px;
  width:193px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1074 {
  position:absolute;
  left:620px;
  top:526px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u1076 {
  position:absolute;
  left:380px;
  top:1536px;
  width:37px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1078 {
  position:absolute;
  left:398px;
  top:1499px;
  width:1px;
  height:27px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u1080 {
  position:absolute;
  left:281px;
  top:1420px;
  width:80px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1081 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1082 {
  position:absolute;
  left:309px;
  top:1437px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1083 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u1084 {
  position:absolute;
  left:297px;
  top:1536px;
  width:49px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u1086 {
  position:absolute;
  left:330px;
  top:1499px;
  width:1px;
  height:27px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:43px;
}
#u1088 {
  position:absolute;
  left:830px;
  top:170px;
  width:128px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1090 {
  position:absolute;
  left:620px;
  top:178px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
}
#u1092 {
  position:absolute;
  left:229px;
  top:244px;
  width:127px;
  height:20px;
  color:#FFFFFF;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:43px;
}
#u1094 {
  position:absolute;
  left:830px;
  top:327px;
  width:157px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1096 {
  position:absolute;
  left:620px;
  top:335px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:15px;
}
#u1098 {
  position:absolute;
  left:830px;
  top:790px;
  width:232px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1100 {
  position:absolute;
  left:620px;
  top:798px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:15px;
}
#u1102 {
  position:absolute;
  left:830px;
  top:717px;
  width:159px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1104 {
  position:absolute;
  left:620px;
  top:725px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u1106 {
  position:absolute;
  left:830px;
  top:930px;
  width:109px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1108 {
  position:absolute;
  left:620px;
  top:938px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:79px;
}
#u1110 {
  position:absolute;
  left:441px;
  top:1420px;
  width:80px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1111 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1112 {
  position:absolute;
  left:469px;
  top:1437px;
  width:25px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1113 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u1114 {
  position:absolute;
  left:476px;
  top:499px;
  width:113px;
  height:40px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
