body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3225 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:392px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:398px;
}
#u3227 {
  position:absolute;
  left:0px;
  top:160px;
  width:1200px;
  height:398px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:191px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:304px;
}
#u3229 {
  position:absolute;
  left:805px;
  top:232px;
  width:366px;
  height:304px;
}
#u3230 {
  position:absolute;
  left:2px;
  top:144px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3231 {
  position:absolute;
  left:836px;
  top:423px;
  width:300px;
  height:40px;
}
#u3232 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u3233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3233 {
  position:absolute;
  left:994px;
  top:496px;
  width:57px;
  height:20px;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3235 {
  position:absolute;
  left:836px;
  top:298px;
  width:300px;
  height:25px;
}
#u3235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3235_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3235_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3236 {
  position:absolute;
  left:836px;
  top:368px;
  width:300px;
  height:25px;
}
#u3236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3236_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3236_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u3237 {
  position:absolute;
  left:836px;
  top:265px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3238 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3239 {
  position:absolute;
  left:836px;
  top:335px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3240 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3241 {
  position:absolute;
  left:1079px;
  top:496px;
  width:57px;
  height:20px;
}
#u3242 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:72px;
}
#u3243 {
  position:absolute;
  left:50px;
  top:0px;
  width:103px;
  height:71px;
}
#u3244 {
  position:absolute;
  left:2px;
  top:26px;
  width:99px;
  word-wrap:break-word;
}
#u3245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u3245 {
  position:absolute;
  left:934px;
  top:184px;
  width:144px;
  height:48px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u3247 {
  position:absolute;
  left:805px;
  top:184px;
  width:144px;
  height:48px;
}
#u3248 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u3249 {
  position:absolute;
  left:836px;
  top:196px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3250 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u3251 {
  position:absolute;
  left:970px;
  top:196px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3252 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
