body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:392px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:398px;
}
#u2961 {
  position:absolute;
  left:0px;
  top:160px;
  width:1200px;
  height:398px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:191px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:304px;
}
#u2963 {
  position:absolute;
  left:805px;
  top:232px;
  width:366px;
  height:304px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:144px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u2965 {
  position:absolute;
  left:836px;
  top:423px;
  width:300px;
  height:40px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2967 {
  position:absolute;
  left:994px;
  top:496px;
  width:57px;
  height:20px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2969 {
  position:absolute;
  left:836px;
  top:298px;
  width:300px;
  height:25px;
}
#u2969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2969_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2969_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2970 {
  position:absolute;
  left:836px;
  top:368px;
  width:300px;
  height:25px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2970_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2970_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2971 {
  position:absolute;
  left:836px;
  top:265px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u2973 {
  position:absolute;
  left:836px;
  top:335px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2975 {
  position:absolute;
  left:1079px;
  top:496px;
  width:57px;
  height:20px;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:72px;
}
#u2977 {
  position:absolute;
  left:50px;
  top:0px;
  width:103px;
  height:71px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:26px;
  width:99px;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u2979 {
  position:absolute;
  left:934px;
  top:184px;
  width:144px;
  height:48px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:48px;
}
#u2981 {
  position:absolute;
  left:805px;
  top:184px;
  width:144px;
  height:48px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:16px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u2983 {
  position:absolute;
  left:836px;
  top:196px;
  width:73px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2984 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u2985 {
  position:absolute;
  left:970px;
  top:196px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2986 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
