body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
}
#u7759 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:952px;
}
#u7760 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u7761 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u7762 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7763 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7764 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u7765 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7766 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u7767 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u7768 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7769 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u7770 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7771 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:904px;
}
#u7773 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:903px;
}
#u7774 {
  position:absolute;
  left:2px;
  top:444px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7775 {
  position:absolute;
  left:264px;
  top:186px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7776 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u7777 {
  position:absolute;
  left:264px;
  top:228px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7778 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7779 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u7780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:131px;
}
#u7781 {
  position:absolute;
  left:371px;
  top:228px;
  width:130px;
  height:130px;
}
#u7782 {
  position:absolute;
  left:2px;
  top:56px;
  width:126px;
  word-wrap:break-word;
}
#u7783 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:25px;
}
#u7783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7783_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7783_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u7784 {
  position:absolute;
  left:371px;
  top:452px;
  width:140px;
  height:40px;
}
#u7785 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u7786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u7786 {
  position:absolute;
  left:1053px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7787 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7788 {
  position:absolute;
  left:1019px;
  top:120px;
  width:20px;
  height:20px;
}
#u7789 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7790 {
  position:absolute;
  left:264px;
  top:373px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u7791 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7792 {
  position:absolute;
  left:371px;
  top:373px;
  width:300px;
  height:25px;
}
#u7792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7792_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7792_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7793 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7794 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7796 {
  position:absolute;
  left:61px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7797 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7798 {
  position:absolute;
  left:-1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u7799 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7800 {
  position:absolute;
  left:61px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7801 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7802 {
  position:absolute;
  left:61px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7803 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7804 {
  position:absolute;
  left:61px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7805 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7806 {
  position:absolute;
  left:61px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7807 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7808 {
  position:absolute;
  left:61px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7809 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7810 {
  position:absolute;
  left:61px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7811 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7812 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7813 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u7814 {
  position:absolute;
  left:52px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7815 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7816 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7817 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7818 {
  position:absolute;
  left:61px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7819 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7820 {
  position:absolute;
  left:61px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7821 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
