body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1288px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:800px;
}
#u7832 {
  position:absolute;
  left:200px;
  top:0px;
  width:900px;
  height:800px;
}
#u7833 {
  position:absolute;
  left:2px;
  top:392px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u7834 {
  position:absolute;
  left:-11px;
  top:0px;
  width:211px;
  height:800px;
}
#u7835 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7836 {
  position:absolute;
  left:-1px;
  top:0px;
  width:201px;
  height:51px;
}
#u7837 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u7838 {
  position:absolute;
  left:200px;
  top:100px;
  width:900px;
  height:60px;
}
#u7839 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
}
#u7840 {
  position:absolute;
  left:200px;
  top:280px;
  width:900px;
  height:60px;
}
#u7841 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u7842 {
  position:absolute;
  left:50px;
  top:68px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7843 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u7844 {
  position:absolute;
  left:66px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u7845 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
}
#u7846 {
  position:absolute;
  left:228px;
  top:68px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7848 {
  position:absolute;
  left:228px;
  top:300px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7849 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:800px;
}
#u7850 {
  position:absolute;
  left:1100px;
  top:0px;
  width:199px;
  height:800px;
}
#u7851 {
  position:absolute;
  left:2px;
  top:392px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:100px;
}
#u7852 {
  position:absolute;
  left:1100px;
  top:0px;
  width:199px;
  height:100px;
}
#u7853 {
  position:absolute;
  left:2px;
  top:42px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u7854 {
  position:absolute;
  left:1126px;
  top:122px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7855 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u7856 {
  position:absolute;
  left:1139px;
  top:159px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7857 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u7858 {
  position:absolute;
  left:1139px;
  top:184px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7859 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u7860 {
  position:absolute;
  left:1126px;
  top:241px;
  width:9px;
  height:16px;
  font-size:16px;
  color:#000000;
}
#u7861 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u7862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7862 {
  position:absolute;
  left:1230px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7863 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7862_ann {
  position:absolute;
  left:1272px;
  top:12px;
  width:1px;
  height:1px;
}
#u7864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7864 {
  position:absolute;
  left:299px;
  top:350px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7865 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:94px;
}
#u7866 {
  position:absolute;
  left:299px;
  top:390px;
  width:89px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u7867 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u7868 {
  position:absolute;
  left:520px;
  top:350px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7869 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:94px;
}
#u7870 {
  position:absolute;
  left:520px;
  top:390px;
  width:45px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u7871 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7872 {
  position:absolute;
  left:779px;
  top:300px;
  width:300px;
  height:25px;
}
#u7872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7872_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7872_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u7873 {
  position:absolute;
  left:1126px;
  top:223px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7874 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u7875 {
  position:absolute;
  left:1139px;
  top:266px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u7877 {
  position:absolute;
  left:1139px;
  top:291px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7878 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:85px;
}
#u7879 {
  position:absolute;
  left:228px;
  top:181px;
  width:94px;
  height:85px;
  font-size:12px;
  color:#000000;
}
#u7880 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u7881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7881 {
  position:absolute;
  left:1200px;
  top:16px;
  width:20px;
  height:20px;
}
#u7882 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7883 {
  position:absolute;
  left:6px;
  top:5px;
  width:40px;
  height:40px;
}
#u7884 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u7885 {
  position:absolute;
  left:-1px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u7886 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u7887 {
  position:absolute;
  left:960px;
  top:350px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7888 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:94px;
}
#u7889 {
  position:absolute;
  left:960px;
  top:390px;
  width:45px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u7890 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u7891 {
  position:absolute;
  left:739px;
  top:350px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7892 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u7893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:94px;
}
#u7893 {
  position:absolute;
  left:739px;
  top:390px;
  width:45px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#666666;
}
#u7894 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u7895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:51px;
}
#u7895 {
  position:absolute;
  left:516px;
  top:181px;
  width:87px;
  height:51px;
  font-size:12px;
  color:#000000;
}
#u7896 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u7897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7897 {
  position:absolute;
  left:50px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7898 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7899 {
  position:absolute;
  left:50px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7900 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7901 {
  position:absolute;
  left:50px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7902 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7903 {
  position:absolute;
  left:50px;
  top:309px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7904 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7905 {
  position:absolute;
  left:50px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7906 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7907 {
  position:absolute;
  left:228px;
  top:29px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7908 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7909 {
  position:absolute;
  left:323px;
  top:29px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u7910 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7911 {
  position:absolute;
  left:427px;
  top:32px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u7912 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u7913 {
  position:absolute;
  left:539px;
  top:29px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#999999;
}
#u7914 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7915 {
  position:absolute;
  left:228px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
