body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:620px;
}
#u3559 {
  position:absolute;
  left:202px;
  top:0px;
  width:398px;
  height:620px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3560 {
  position:absolute;
  left:2px;
  top:302px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u3561 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u3562 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u3563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3563 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3564 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u3565 {
  position:absolute;
  left:220px;
  top:591px;
  width:361px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3566 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:374px;
}
#u3567 {
  position:absolute;
  left:200px;
  top:51px;
  width:400px;
  height:374px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3568 {
  position:absolute;
  left:2px;
  top:179px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:21px;
}
#u3569 {
  position:absolute;
  left:235px;
  top:70px;
  width:131px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3570 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u3571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:2px;
}
#u3571 {
  position:absolute;
  left:216px;
  top:101px;
  width:368px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3572 {
  position:absolute;
  left:2px;
  top:-8px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3573 {
  position:absolute;
  left:235px;
  top:121px;
  width:33px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3574 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3575 {
  position:absolute;
  left:216px;
  top:372px;
  width:75px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3576 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u3577 {
  position:absolute;
  left:301px;
  top:372px;
  width:75px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3578 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u3579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:178px;
}
#u3579 {
  position:absolute;
  left:200px;
  top:432px;
  width:400px;
  height:178px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3580 {
  position:absolute;
  left:2px;
  top:81px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3581 {
  position:absolute;
  left:216px;
  top:488px;
  width:75px;
  height:30px;
}
#u3581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3581_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3581_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:81px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3581_input:disabled {
  color:grayText;
}
#u3582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
}
#u3582 {
  position:absolute;
  left:216px;
  top:537px;
  width:368px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3583 {
  position:absolute;
  left:2px;
  top:12px;
  width:364px;
  word-wrap:break-word;
}
#u3584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
}
#u3584 {
  position:absolute;
  left:216px;
  top:453px;
  width:155px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3585 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
