body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:801px;
}
#u3852 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u3853 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3856 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u3857 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u3859 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u3860 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3861 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u3862 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u3863 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u3865 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u3867 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u3868 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u3869 {
  position:absolute;
  left:250px;
  top:208px;
  width:900px;
  height:96px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u3871 {
  position:absolute;
  left:442px;
  top:175px;
  width:42px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3873 {
  position:absolute;
  left:329px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u3875 {
  position:absolute;
  left:889px;
  top:175px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3877 {
  position:absolute;
  left:539px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3879 {
  position:absolute;
  left:1049px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:69px;
}
#u3881 {
  position:absolute;
  left:442px;
  top:222px;
  width:74px;
  height:69px;
}
#u3882 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3883 {
  position:absolute;
  left:329px;
  top:248px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u3885 {
  position:absolute;
  left:536px;
  top:248px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u3887 {
  position:absolute;
  left:895px;
  top:248px;
  width:61px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3889 {
  position:absolute;
  left:1058px;
  top:248px;
  width:20px;
  height:20px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_ann {
  position:absolute;
  left:1071px;
  top:244px;
  width:1px;
  height:1px;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u3891 {
  position:absolute;
  left:250px;
  top:452px;
  width:900px;
  height:96px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:69px;
}
#u3893 {
  position:absolute;
  left:442px;
  top:466px;
  width:74px;
  height:69px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3895 {
  position:absolute;
  left:329px;
  top:492px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u3897 {
  position:absolute;
  left:536px;
  top:492px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3899 {
  position:absolute;
  left:1058px;
  top:492px;
  width:20px;
  height:20px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:69px;
}
#u3901 {
  position:absolute;
  left:442px;
  top:337px;
  width:74px;
  height:69px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3903 {
  position:absolute;
  left:329px;
  top:363px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u3905 {
  position:absolute;
  left:536px;
  top:363px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3907 {
  position:absolute;
  left:1058px;
  top:363px;
  width:20px;
  height:20px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3909 {
  position:absolute;
  left:266px;
  top:750px;
  width:20px;
  height:20px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3911 {
  position:absolute;
  left:296px;
  top:750px;
  width:20px;
  height:20px;
}
#u3912 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3913 {
  position:absolute;
  left:326px;
  top:750px;
  width:20px;
  height:20px;
}
#u3914 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3915 {
  position:absolute;
  left:1085px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3917 {
  position:absolute;
  left:1039px;
  top:120px;
  width:20px;
  height:20px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u3919 {
  position:absolute;
  left:250px;
  top:116px;
  width:207px;
  height:25px;
}
#u3919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3919_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3919_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:213px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3920 {
  position:absolute;
  left:574px;
  top:116px;
  width:75px;
  height:22px;
}
#u3920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3920_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3920_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:81px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3920_input:disabled {
  color:grayText;
}
#u3921 {
  position:absolute;
  left:467px;
  top:116px;
  width:97px;
  height:22px;
}
#u3921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3921_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3921_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:103px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3921_input:disabled {
  color:grayText;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3922 {
  position:absolute;
  left:659px;
  top:118px;
  width:20px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u3923 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3922_ann {
  position:absolute;
  left:672px;
  top:114px;
  width:1px;
  height:1px;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3924 {
  position:absolute;
  left:619px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3926 {
  position:absolute;
  left:619px;
  top:248px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3928 {
  position:absolute;
  left:619px;
  top:492px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3930 {
  position:absolute;
  left:619px;
  top:363px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3932 {
  position:absolute;
  left:709px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u3934 {
  position:absolute;
  left:709px;
  top:248px;
  width:87px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u3936 {
  position:absolute;
  left:709px;
  top:363px;
  width:87px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u3938 {
  position:absolute;
  left:709px;
  top:492px;
  width:87px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u3940 {
  position:absolute;
  left:895px;
  top:363px;
  width:61px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3941 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u3942 {
  position:absolute;
  left:895px;
  top:492px;
  width:61px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3944 {
  position:absolute;
  left:831px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3946 {
  position:absolute;
  left:830px;
  top:248px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3948 {
  position:absolute;
  left:830px;
  top:492px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3949 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3950 {
  position:absolute;
  left:830px;
  top:363px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3952 {
  position:absolute;
  left:1088px;
  top:248px;
  width:20px;
  height:20px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952_ann {
  position:absolute;
  left:1101px;
  top:244px;
  width:1px;
  height:1px;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3954 {
  position:absolute;
  left:1088px;
  top:492px;
  width:20px;
  height:20px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3956 {
  position:absolute;
  left:1088px;
  top:363px;
  width:20px;
  height:20px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3958 {
  position:absolute;
  left:1118px;
  top:248px;
  width:20px;
  height:20px;
}
#u3959 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_ann {
  position:absolute;
  left:1131px;
  top:244px;
  width:1px;
  height:1px;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3960 {
  position:absolute;
  left:1118px;
  top:492px;
  width:20px;
  height:20px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3962 {
  position:absolute;
  left:1118px;
  top:363px;
  width:20px;
  height:20px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3965 {
  position:absolute;
  left:63px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u3967 {
  position:absolute;
  left:1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3969 {
  position:absolute;
  left:63px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3971 {
  position:absolute;
  left:63px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3973 {
  position:absolute;
  left:63px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3975 {
  position:absolute;
  left:63px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3977 {
  position:absolute;
  left:63px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3979 {
  position:absolute;
  left:63px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3981 {
  position:absolute;
  left:63px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3982 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u3983 {
  position:absolute;
  left:54px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3985 {
  position:absolute;
  left:64px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3987 {
  position:absolute;
  left:63px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3989 {
  position:absolute;
  left:63px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u3991 {
  position:absolute;
  left:273px;
  top:175px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u3993 {
  position:absolute;
  left:276px;
  top:248px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u3995 {
  position:absolute;
  left:276px;
  top:492px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u3997 {
  position:absolute;
  left:276px;
  top:363px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
