body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3253 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3254 {
  position:absolute;
  left:2px;
  top:392px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u3255 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u3256 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u3257 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u3258 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3259 {
  position:absolute;
  left:62px;
  top:63px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3260 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3261 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3262 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u3263 {
  position:absolute;
  left:53px;
  top:15px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3264 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3265 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u3266 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u3267 {
  position:absolute;
  left:404px;
  top:439px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3268 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u3269 {
  position:absolute;
  left:404px;
  top:362px;
  width:40px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3270 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3271 {
  position:absolute;
  left:518px;
  top:357px;
  width:300px;
  height:25px;
}
#u3271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3271_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3271_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u3272 {
  position:absolute;
  left:404px;
  top:265px;
  width:54px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3273 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u3274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u3274 {
  position:absolute;
  left:404px;
  top:400px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3275 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3276 {
  position:absolute;
  left:404px;
  top:516px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3277 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
}
#u3278 {
  position:absolute;
  left:404px;
  top:176px;
  width:68px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3279 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u3280 {
  position:absolute;
  left:404px;
  top:477px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3281 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3282 {
  position:absolute;
  left:518px;
  top:260px;
  width:300px;
  height:25px;
}
#u3282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3282_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3282_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3282_ann {
  position:absolute;
  left:811px;
  top:256px;
  width:1px;
  height:1px;
}
#u3283 {
  position:absolute;
  left:518px;
  top:396px;
  width:300px;
  height:25px;
}
#u3283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3283_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3283_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3284 {
  position:absolute;
  left:518px;
  top:435px;
  width:300px;
  height:25px;
}
#u3284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3284_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3284_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3285 {
  position:absolute;
  left:518px;
  top:474px;
  width:300px;
  height:25px;
}
#u3285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3285_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3285_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u3286 {
  position:absolute;
  left:518px;
  top:516px;
  width:100px;
  height:100px;
}
#u3287 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u3288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u3288 {
  position:absolute;
  left:518px;
  top:663px;
  width:140px;
  height:40px;
}
#u3289 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u3290 {
  position:absolute;
  left:518px;
  top:177px;
  width:100px;
  height:19px;
}
#u3291 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3290_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
}
#u3292 {
  position:absolute;
  left:404px;
  top:224px;
  width:44px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3293 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3294 {
  position:absolute;
  left:518px;
  top:221px;
  width:300px;
  height:22px;
}
#u3294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3294_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3294_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3294_input:disabled {
  color:grayText;
}
#u3294_ann {
  position:absolute;
  left:811px;
  top:217px;
  width:1px;
  height:1px;
}
#u3295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u3295 {
  position:absolute;
  left:404px;
  top:316px;
  width:54px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3296 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u3297 {
  position:absolute;
  left:518px;
  top:311px;
  width:300px;
  height:25px;
}
#u3297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3297_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3297_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u3298 {
  position:absolute;
  left:270px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3299 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u3300 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u3301 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u3302 {
  position:absolute;
  left:250px;
  top:130px;
  width:900px;
  height:1px;
}
#u3303 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
