body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u4826 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u4827 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4830 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u4832 {
  position:absolute;
  left:273px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4833 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u4834 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4836 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u4837 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4838 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4839 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u4840 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u4841 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4842 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4844 {
  position:absolute;
  left:266px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4845 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4846 {
  position:absolute;
  left:1086px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4847 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4846_ann {
  position:absolute;
  left:1144px;
  top:116px;
  width:1px;
  height:1px;
}
#u4848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4848 {
  position:absolute;
  left:1039px;
  top:120px;
  width:20px;
  height:20px;
}
#u4849 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u4850 {
  position:absolute;
  left:250px;
  top:205px;
  width:900px;
  height:96px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4852 {
  position:absolute;
  left:273px;
  top:173px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4854 {
  position:absolute;
  left:992px;
  top:175px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4856 {
  position:absolute;
  left:1083px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4858 {
  position:absolute;
  left:273px;
  top:241px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4859 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4860 {
  position:absolute;
  left:992px;
  top:248px;
  width:25px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4861 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4862 {
  position:absolute;
  left:1092px;
  top:248px;
  width:20px;
  height:20px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:96px;
}
#u4864 {
  position:absolute;
  left:250px;
  top:452px;
  width:900px;
  height:96px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:40px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4866 {
  position:absolute;
  left:273px;
  top:487px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4867 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4868 {
  position:absolute;
  left:992px;
  top:492px;
  width:25px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4869 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4870 {
  position:absolute;
  left:1092px;
  top:492px;
  width:20px;
  height:20px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4872 {
  position:absolute;
  left:273px;
  top:361px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u4874 {
  position:absolute;
  left:992px;
  top:363px;
  width:25px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4876 {
  position:absolute;
  left:1092px;
  top:363px;
  width:20px;
  height:20px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4878 {
  position:absolute;
  left:266px;
  top:750px;
  width:20px;
  height:20px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4880 {
  position:absolute;
  left:296px;
  top:750px;
  width:20px;
  height:20px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4882 {
  position:absolute;
  left:326px;
  top:750px;
  width:20px;
  height:20px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u4884 {
  position:absolute;
  left:250px;
  top:575px;
  width:63px;
  height:25px;
}
#u4884_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4884_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u4884_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4885 {
  position:absolute;
  left:323px;
  top:575px;
  width:63px;
  height:25px;
}
#u4885_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4885_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u4885_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4886 {
  position:absolute;
  left:465px;
  top:175px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
}
#u4888 {
  position:absolute;
  left:465px;
  top:217px;
  width:95px;
  height:70px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:27px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
}
#u4890 {
  position:absolute;
  left:465px;
  top:463px;
  width:95px;
  height:70px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:27px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:70px;
}
#u4892 {
  position:absolute;
  left:465px;
  top:337px;
  width:95px;
  height:70px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:27px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4894 {
  position:absolute;
  left:809px;
  top:175px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u4896 {
  position:absolute;
  left:809px;
  top:252px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4897 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u4898 {
  position:absolute;
  left:809px;
  top:367px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u4900 {
  position:absolute;
  left:809px;
  top:496px;
  width:111px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4901 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4903 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4905 {
  position:absolute;
  left:0px;
  top:651px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u4906 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4907 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4909 {
  position:absolute;
  left:62px;
  top:664px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4911 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4913 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4915 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4917 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4919 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u4921 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4923 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4924 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4925 {
  position:absolute;
  left:62px;
  top:598px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
