body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1290px;
}
#u2858 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2859 {
  position:absolute;
  left:2px;
  top:637px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2860 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2861 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2862 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2863 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2864 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2865 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2866 {
  position:absolute;
  left:200px;
  top:334px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2867 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2868 {
  position:absolute;
  left:201px;
  top:617px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2869 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2870 {
  position:absolute;
  left:201px;
  top:900px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2871 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2872 {
  position:absolute;
  left:220px;
  top:1211px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2873 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
