body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1290px;
}
#u2676 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2677 {
  position:absolute;
  left:2px;
  top:637px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2678 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2679 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2680 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2682 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2683 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2684 {
  position:absolute;
  left:200px;
  top:334px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2685 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2686 {
  position:absolute;
  left:201px;
  top:617px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2687 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2688 {
  position:absolute;
  left:201px;
  top:900px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2689 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2690 {
  position:absolute;
  left:220px;
  top:1211px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2691 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
