body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1290px;
}
#u2750 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1290px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2751 {
  position:absolute;
  left:2px;
  top:637px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2752 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2753 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2754 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2755 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2756 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2757 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2758 {
  position:absolute;
  left:200px;
  top:334px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2759 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2760 {
  position:absolute;
  left:201px;
  top:617px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2761 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:280px;
}
#u2762 {
  position:absolute;
  left:201px;
  top:900px;
  width:398px;
  height:280px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2763 {
  position:absolute;
  left:2px;
  top:130px;
  width:394px;
  word-wrap:break-word;
}
#u2764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2764 {
  position:absolute;
  left:220px;
  top:1211px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2765 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
