body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:890px;
}
#u1850 {
  position:absolute;
  left:201px;
  top:-220px;
  width:399px;
  height:890px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1851 {
  position:absolute;
  left:2px;
  top:437px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:27px;
}
#u1852 {
  position:absolute;
  left:220px;
  top:70px;
  width:261px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u1854 {
  position:absolute;
  left:243px;
  top:14px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1856 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1857 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1858 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u1860 {
  position:absolute;
  left:220px;
  top:142px;
  width:360px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:170px;
}
#u1862 {
  position:absolute;
  left:220px;
  top:301px;
  width:360px;
  height:170px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1863 {
  position:absolute;
  left:2px;
  top:77px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
}
#u1864 {
  position:absolute;
  left:220px;
  top:485px;
  width:360px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
}
#u1866 {
  position:absolute;
  left:220px;
  top:109px;
  width:183px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
