body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1117px;
}
#u4558 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:1117px;
}
#u4559 {
  position:absolute;
  left:2px;
  top:550px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1117px;
}
#u4560 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:1117px;
  font-size:16px;
}
#u4561 {
  position:absolute;
  left:2px;
  top:550px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4562 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u4563 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u4564 {
  position:absolute;
  left:264px;
  top:73px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u4565 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u4566 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u4567 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4568 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u4569 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u4570 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4571 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1069px;
}
#u4572 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:1068px;
}
#u4573 {
  position:absolute;
  left:2px;
  top:526px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4574 {
  position:absolute;
  left:381px;
  top:79px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4575 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4576 {
  position:absolute;
  left:264px;
  top:186px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4577 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u4578 {
  position:absolute;
  left:264px;
  top:281px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4579 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4580 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4581 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4582 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u4583 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:101px;
}
#u4584 {
  position:absolute;
  left:371px;
  top:281px;
  width:134px;
  height:100px;
}
#u4585 {
  position:absolute;
  left:2px;
  top:40px;
  width:130px;
  word-wrap:break-word;
}
#u4586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u4586 {
  position:absolute;
  left:371px;
  top:710px;
  width:140px;
  height:40px;
}
#u4587 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4588 {
  position:absolute;
  left:264px;
  top:400px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4589 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:223px;
}
#u4590 {
  position:absolute;
  left:371px;
  top:400px;
  width:779px;
  height:222px;
}
#u4591 {
  position:absolute;
  left:2px;
  top:102px;
  width:775px;
  word-wrap:break-word;
}
#u4592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u4592 {
  position:absolute;
  left:1055px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4593 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4594 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u4595 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4596 {
  position:absolute;
  left:264px;
  top:651px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4597 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4598 {
  position:absolute;
  left:371px;
  top:651px;
  width:300px;
  height:25px;
}
#u4598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4598_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4598_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4600 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4601 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u4602 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u4603 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4604 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4605 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4606 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4607 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4608 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4609 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4610 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4611 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4612 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4613 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4614 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4615 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4616 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4617 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u4618 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4619 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4620 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4621 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4622 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4623 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u4624 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u4625 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4626 {
  position:absolute;
  left:371px;
  top:186px;
  width:300px;
  height:22px;
}
#u4626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4626_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4626_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4626_input:disabled {
  color:grayText;
}
#u4627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u4627 {
  position:absolute;
  left:264px;
  top:235px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4628 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4629 {
  position:absolute;
  left:371px;
  top:235px;
  width:300px;
  height:25px;
}
#u4629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4629_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u4629_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
