body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:801px;
}
#u5621 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:801px;
}
#u5622 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u5623 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5625 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u5627 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u5628 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u5629 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u5631 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5633 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5634 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5635 {
  position:absolute;
  left:1107px;
  top:94px;
  width:200px;
  height:1px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5637 {
  position:absolute;
  left:1327px;
  top:86px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5638 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5639 {
  position:absolute;
  left:1327px;
  top:113px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5640 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u5641 {
  position:absolute;
  left:1327px;
  top:140px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5642 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5643 {
  position:absolute;
  left:1327px;
  top:167px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5644 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5645 {
  position:absolute;
  left:1327px;
  top:194px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5646 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u5647 {
  position:absolute;
  left:1327px;
  top:221px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5649 {
  position:absolute;
  left:264px;
  top:186px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5650 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5651 {
  position:absolute;
  left:264px;
  top:249px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5653 {
  position:absolute;
  left:264px;
  top:374px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5654 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5655 {
  position:absolute;
  left:264px;
  top:311px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5657 {
  position:absolute;
  left:264px;
  top:216px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5659 {
  position:absolute;
  left:264px;
  top:279px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5660 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u5661 {
  position:absolute;
  left:264px;
  top:341px;
  width:89px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
}
#u5663 {
  position:absolute;
  left:264px;
  top:404px;
  width:153px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5664 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u5665 {
  position:absolute;
  left:650px;
  top:186px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5666 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u5667 {
  position:absolute;
  left:650px;
  top:252px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5668 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u5669 {
  position:absolute;
  left:650px;
  top:217px;
  width:77px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5670 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u5671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u5671 {
  position:absolute;
  left:650px;
  top:282px;
  width:74px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5672 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u5673 {
  position:absolute;
  left:250px;
  top:460px;
  width:900px;
  height:1px;
}
#u5674 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u5675 {
  position:absolute;
  left:264px;
  top:526px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5676 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u5677 {
  position:absolute;
  left:264px;
  top:589px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5678 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u5679 {
  position:absolute;
  left:264px;
  top:647px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5680 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5681 {
  position:absolute;
  left:264px;
  top:559px;
  width:300px;
  height:25px;
}
#u5681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5681_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5681_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5682 {
  position:absolute;
  left:264px;
  top:619px;
  width:300px;
  height:25px;
}
#u5682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5682_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5682_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5683 {
  position:absolute;
  left:264px;
  top:677px;
  width:300px;
  height:25px;
}
#u5683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5683_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u5683_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5684 {
  position:absolute;
  left:264px;
  top:721px;
  width:140px;
  height:40px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u5686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5686 {
  position:absolute;
  left:264px;
  top:479px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5687 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5688 {
  position:absolute;
  left:264px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5689 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u5690 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u5691 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:751px;
}
#u5692 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:750px;
}
#u5693 {
  position:absolute;
  left:2px;
  top:367px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5695 {
  position:absolute;
  left:62px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5696 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u5697 {
  position:absolute;
  left:0px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u5698 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5699 {
  position:absolute;
  left:62px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5701 {
  position:absolute;
  left:62px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5702 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5703 {
  position:absolute;
  left:62px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5705 {
  position:absolute;
  left:62px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5707 {
  position:absolute;
  left:62px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5709 {
  position:absolute;
  left:62px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5711 {
  position:absolute;
  left:62px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5712 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u5713 {
  position:absolute;
  left:53px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5714 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5715 {
  position:absolute;
  left:63px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5717 {
  position:absolute;
  left:62px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5718 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u5719 {
  position:absolute;
  left:62px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5721 {
  position:absolute;
  left:650px;
  top:312px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u5723 {
  position:absolute;
  left:650px;
  top:342px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
