body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8081 {
  position:absolute;
  left:201px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:392px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u8083 {
  position:absolute;
  left:-10px;
  top:0px;
  width:211px;
  height:800px;
}
#u8084 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8085 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:60px;
}
#u8087 {
  position:absolute;
  left:201px;
  top:100px;
  width:1099px;
  height:60px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:22px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8089 {
  position:absolute;
  left:51px;
  top:68px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u8091 {
  position:absolute;
  left:67px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u8092 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u8093 {
  position:absolute;
  left:229px;
  top:68px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8094 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8095 {
  position:absolute;
  left:229px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8096 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8097 {
  position:absolute;
  left:1231px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8098 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8099 {
  position:absolute;
  left:1201px;
  top:16px;
  width:20px;
  height:20px;
}
#u8100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8101 {
  position:absolute;
  left:7px;
  top:5px;
  width:40px;
  height:40px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u8103 {
  position:absolute;
  left:0px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u8104 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8105 {
  position:absolute;
  left:51px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8106 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8107 {
  position:absolute;
  left:51px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8108 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8109 {
  position:absolute;
  left:51px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8111 {
  position:absolute;
  left:51px;
  top:309px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8112 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8113 {
  position:absolute;
  left:51px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8114 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8115 {
  position:absolute;
  left:229px;
  top:216px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u8117 {
  position:absolute;
  left:229px;
  top:270px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u8119 {
  position:absolute;
  left:229px;
  top:191px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8120 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8121 {
  position:absolute;
  left:229px;
  top:485px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8122 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8123 {
  position:absolute;
  left:229px;
  top:442px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8125 {
  position:absolute;
  left:320px;
  top:486px;
  width:300px;
  height:82px;
}
#u8125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8125_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8125_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8126 {
  position:absolute;
  left:320px;
  top:442px;
  width:300px;
  height:22px;
}
#u8126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8126_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8126_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8126_input:disabled {
  color:grayText;
}
#u8127 {
  position:absolute;
  left:320px;
  top:600px;
  width:140px;
  height:25px;
}
#u8127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8127_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u8127_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u8128 {
  position:absolute;
  left:229px;
  top:336px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u8130 {
  position:absolute;
  left:229px;
  top:297px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8131 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u8132 {
  position:absolute;
  left:320px;
  top:216px;
  width:119px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8133 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u8134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u8134 {
  position:absolute;
  left:320px;
  top:340px;
  width:101px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u8136 {
  position:absolute;
  left:229px;
  top:241px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8137 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8138 {
  position:absolute;
  left:51px;
  top:439px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
