body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8703 {
  position:absolute;
  left:201px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8704 {
  position:absolute;
  left:2px;
  top:392px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u8705 {
  position:absolute;
  left:-10px;
  top:0px;
  width:211px;
  height:800px;
}
#u8706 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8707 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8708 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:60px;
}
#u8709 {
  position:absolute;
  left:201px;
  top:100px;
  width:1099px;
  height:60px;
}
#u8710 {
  position:absolute;
  left:2px;
  top:22px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8711 {
  position:absolute;
  left:51px;
  top:68px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8712 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u8713 {
  position:absolute;
  left:67px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u8714 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u8715 {
  position:absolute;
  left:229px;
  top:68px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8716 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8717 {
  position:absolute;
  left:229px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8718 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8719 {
  position:absolute;
  left:1231px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8720 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8721 {
  position:absolute;
  left:1201px;
  top:16px;
  width:20px;
  height:20px;
}
#u8722 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8723 {
  position:absolute;
  left:7px;
  top:5px;
  width:40px;
  height:40px;
}
#u8724 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u8725 {
  position:absolute;
  left:0px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u8726 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8727 {
  position:absolute;
  left:51px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8728 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8729 {
  position:absolute;
  left:51px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8730 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8731 {
  position:absolute;
  left:51px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8732 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8733 {
  position:absolute;
  left:51px;
  top:309px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8734 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8735 {
  position:absolute;
  left:51px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8736 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8737 {
  position:absolute;
  left:229px;
  top:216px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8738 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u8739 {
  position:absolute;
  left:229px;
  top:270px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8740 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u8741 {
  position:absolute;
  left:229px;
  top:191px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8742 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8743 {
  position:absolute;
  left:229px;
  top:485px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8744 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8745 {
  position:absolute;
  left:229px;
  top:442px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8746 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8747 {
  position:absolute;
  left:320px;
  top:486px;
  width:300px;
  height:82px;
}
#u8747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8747_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8747_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8748 {
  position:absolute;
  left:320px;
  top:442px;
  width:300px;
  height:22px;
}
#u8748_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8748_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8748_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8748_input:disabled {
  color:grayText;
}
#u8749 {
  position:absolute;
  left:320px;
  top:600px;
  width:140px;
  height:25px;
}
#u8749_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8749_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u8749_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u8750 {
  position:absolute;
  left:229px;
  top:336px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8751 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u8752 {
  position:absolute;
  left:229px;
  top:297px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8753 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u8754 {
  position:absolute;
  left:320px;
  top:216px;
  width:119px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8755 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u8756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u8756 {
  position:absolute;
  left:320px;
  top:340px;
  width:101px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8757 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u8758 {
  position:absolute;
  left:229px;
  top:241px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8759 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8760 {
  position:absolute;
  left:51px;
  top:439px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8761 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
