body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:800px;
}
#u7808 {
  position:absolute;
  left:201px;
  top:0px;
  width:1099px;
  height:800px;
}
#u7809 {
  position:absolute;
  left:2px;
  top:392px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u7810 {
  position:absolute;
  left:-10px;
  top:0px;
  width:211px;
  height:800px;
}
#u7811 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7812 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u7813 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:60px;
}
#u7814 {
  position:absolute;
  left:201px;
  top:100px;
  width:1099px;
  height:60px;
}
#u7815 {
  position:absolute;
  left:2px;
  top:22px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u7816 {
  position:absolute;
  left:51px;
  top:68px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7817 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u7818 {
  position:absolute;
  left:67px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u7819 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u7820 {
  position:absolute;
  left:229px;
  top:68px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u7821 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7822 {
  position:absolute;
  left:229px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u7823 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7824 {
  position:absolute;
  left:1231px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7825 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7826 {
  position:absolute;
  left:1201px;
  top:16px;
  width:20px;
  height:20px;
}
#u7827 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u7828 {
  position:absolute;
  left:7px;
  top:5px;
  width:40px;
  height:40px;
}
#u7829 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u7830 {
  position:absolute;
  left:0px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u7831 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7832 {
  position:absolute;
  left:51px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7833 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7834 {
  position:absolute;
  left:51px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7835 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7836 {
  position:absolute;
  left:51px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7837 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7838 {
  position:absolute;
  left:51px;
  top:309px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7839 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7840 {
  position:absolute;
  left:51px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7841 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7842 {
  position:absolute;
  left:229px;
  top:216px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7843 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u7844 {
  position:absolute;
  left:229px;
  top:270px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7845 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7846 {
  position:absolute;
  left:229px;
  top:191px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7847 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7848 {
  position:absolute;
  left:229px;
  top:485px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7849 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7850 {
  position:absolute;
  left:229px;
  top:442px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7851 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7852 {
  position:absolute;
  left:320px;
  top:486px;
  width:300px;
  height:82px;
}
#u7852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7852_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7852_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:88px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7853 {
  position:absolute;
  left:320px;
  top:442px;
  width:300px;
  height:22px;
}
#u7853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7853_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7853_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7853_input:disabled {
  color:grayText;
}
#u7854 {
  position:absolute;
  left:320px;
  top:600px;
  width:140px;
  height:25px;
}
#u7854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7854_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7854_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:146px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u7855 {
  position:absolute;
  left:229px;
  top:336px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7856 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u7857 {
  position:absolute;
  left:229px;
  top:297px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7858 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u7859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:17px;
}
#u7859 {
  position:absolute;
  left:320px;
  top:216px;
  width:119px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7860 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u7861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u7861 {
  position:absolute;
  left:320px;
  top:340px;
  width:101px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7862 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u7863 {
  position:absolute;
  left:229px;
  top:241px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u7864 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u7865 {
  position:absolute;
  left:51px;
  top:439px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u7866 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
