body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2698 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:692px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:60px;
}
#u2700 {
  position:absolute;
  left:201px;
  top:1010px;
  width:398px;
  height:60px;
}
#u2701 {
  position:absolute;
  left:2px;
  top:22px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2702 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2703 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2704 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2705 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2706 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:398px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2708 {
  position:absolute;
  left:201px;
  top:449px;
  width:398px;
  height:398px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2710 {
  position:absolute;
  left:375px;
  top:884px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2711 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2713 {
  position:absolute;
  left:346px;
  top:950px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2714 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2715 {
  position:absolute;
  left:369px;
  top:950px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2716 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2718 {
  position:absolute;
  left:210px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2719 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2720 {
  position:absolute;
  left:240px;
  top:1087px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2721 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2722 {
  position:absolute;
  left:210px;
  top:1087px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2723 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u2724 {
  position:absolute;
  left:210px;
  top:1128px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2725 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2726 {
  position:absolute;
  left:380px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2727 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
}
#u2728 {
  position:absolute;
  left:554px;
  top:1149px;
  width:36px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2729 {
  position:absolute;
  left:2px;
  top:72px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:46px;
}
#u2730 {
  position:absolute;
  left:210px;
  top:1322px;
  width:380px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2731 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  word-wrap:break-word;
}
#u2732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u2732 {
  position:absolute;
  left:516px;
  top:1089px;
  width:74px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2733 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u2734 {
  position:absolute;
  left:245px;
  top:1033px;
  width:233px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2735 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u2736_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:23px;
  height:27px;
}
#u2736 {
  position:absolute;
  left:220px;
  top:1031px;
  width:13px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2737 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2738 {
  position:absolute;
  left:559px;
  top:1042px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u2739 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2740 {
  position:absolute;
  left:563px;
  top:1030px;
  width:14px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2741 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2742 {
  position:absolute;
  left:930px;
  top:930px;
  width:89px;
  height:40px;
}
#u2743 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2744 {
  position:absolute;
  left:1031px;
  top:930px;
  width:89px;
  height:40px;
}
#u2745 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u2746 {
  position:absolute;
  left:660px;
  top:930px;
  width:233px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2747 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u2748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2748 {
  position:absolute;
  left:660px;
  top:954px;
  width:58px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2749 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
