body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2488 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:692px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:60px;
}
#u2490 {
  position:absolute;
  left:201px;
  top:1010px;
  width:398px;
  height:60px;
}
#u2491 {
  position:absolute;
  left:2px;
  top:22px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2492 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2493 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2494 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2495 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2496 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:398px;
}
#u2497 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2498 {
  position:absolute;
  left:201px;
  top:449px;
  width:398px;
  height:398px;
}
#u2499 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2500 {
  position:absolute;
  left:375px;
  top:884px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2501 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2503 {
  position:absolute;
  left:346px;
  top:950px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2505 {
  position:absolute;
  left:369px;
  top:950px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2506 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2508 {
  position:absolute;
  left:210px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2509 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2510 {
  position:absolute;
  left:240px;
  top:1087px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2511 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2512 {
  position:absolute;
  left:210px;
  top:1087px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2513 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u2514 {
  position:absolute;
  left:210px;
  top:1128px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2515 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2516 {
  position:absolute;
  left:380px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2517 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
}
#u2518 {
  position:absolute;
  left:554px;
  top:1149px;
  width:36px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2519 {
  position:absolute;
  left:2px;
  top:72px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:46px;
}
#u2520 {
  position:absolute;
  left:210px;
  top:1322px;
  width:380px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2521 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  word-wrap:break-word;
}
#u2522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u2522 {
  position:absolute;
  left:516px;
  top:1089px;
  width:74px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2523 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u2524 {
  position:absolute;
  left:245px;
  top:1033px;
  width:233px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2525 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u2526_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:23px;
  height:27px;
}
#u2526 {
  position:absolute;
  left:220px;
  top:1031px;
  width:13px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2527 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2528 {
  position:absolute;
  left:559px;
  top:1042px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u2529 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2530 {
  position:absolute;
  left:563px;
  top:1030px;
  width:14px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2531 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2532 {
  position:absolute;
  left:930px;
  top:930px;
  width:89px;
  height:40px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2534 {
  position:absolute;
  left:1031px;
  top:930px;
  width:89px;
  height:40px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u2536 {
  position:absolute;
  left:660px;
  top:930px;
  width:233px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2537 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u2538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2538 {
  position:absolute;
  left:660px;
  top:954px;
  width:58px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2539 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
