body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2388 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1400px;
}
#u2389 {
  position:absolute;
  left:2px;
  top:692px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:60px;
}
#u2390 {
  position:absolute;
  left:201px;
  top:1010px;
  width:398px;
  height:60px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:22px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2392 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2393 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2394 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2396 {
  position:absolute;
  left:201px;
  top:51px;
  width:398px;
  height:398px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:398px;
}
#u2398 {
  position:absolute;
  left:201px;
  top:449px;
  width:398px;
  height:398px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:191px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2400 {
  position:absolute;
  left:375px;
  top:884px;
  width:50px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2401 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u2403 {
  position:absolute;
  left:346px;
  top:950px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2405 {
  position:absolute;
  left:369px;
  top:950px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2406 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2408 {
  position:absolute;
  left:210px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2409 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2410 {
  position:absolute;
  left:240px;
  top:1087px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2411 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2412 {
  position:absolute;
  left:210px;
  top:1087px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2413 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u2414 {
  position:absolute;
  left:210px;
  top:1128px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2415 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2416 {
  position:absolute;
  left:380px;
  top:1149px;
  width:160px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2417 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
}
#u2418 {
  position:absolute;
  left:554px;
  top:1149px;
  width:36px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2419 {
  position:absolute;
  left:2px;
  top:72px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:46px;
}
#u2420 {
  position:absolute;
  left:210px;
  top:1322px;
  width:380px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2421 {
  position:absolute;
  left:2px;
  top:14px;
  width:376px;
  word-wrap:break-word;
}
#u2422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
}
#u2422 {
  position:absolute;
  left:516px;
  top:1089px;
  width:74px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2423 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
}
#u2424 {
  position:absolute;
  left:245px;
  top:1033px;
  width:233px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2425 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u2426_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:23px;
  height:27px;
}
#u2426 {
  position:absolute;
  left:220px;
  top:1031px;
  width:13px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2427 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u2428 {
  position:absolute;
  left:559px;
  top:1042px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u2429 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2430 {
  position:absolute;
  left:563px;
  top:1030px;
  width:14px;
  height:11px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2431 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
