body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1201px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3084 {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:392px;
  width:1197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  font-size:16px;
}
#u3087 {
  position:absolute;
  left:2px;
  top:392px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u3088 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u3089 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3090 {
  position:absolute;
  left:62px;
  top:63px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3092 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u3094 {
  position:absolute;
  left:53px;
  top:15px;
  width:113px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3095 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3096 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u3097 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u3098 {
  position:absolute;
  left:557px;
  top:293px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3099 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3100 {
  position:absolute;
  left:623px;
  top:290px;
  width:300px;
  height:25px;
}
#u3100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3100_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3100_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3101 {
  position:absolute;
  left:623px;
  top:345px;
  width:300px;
  height:25px;
}
#u3101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3101_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u3101_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u3102 {
  position:absolute;
  left:623px;
  top:420px;
  width:140px;
  height:40px;
}
#u3103 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u3104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u3104 {
  position:absolute;
  left:270px;
  top:73px;
  width:101px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3105 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u3106 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u3107 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u3108 {
  position:absolute;
  left:250px;
  top:130px;
  width:900px;
  height:1px;
}
#u3109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
}
#u3110 {
  position:absolute;
  left:501px;
  top:344px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3111 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
