body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8016 {
  position:absolute;
  left:201px;
  top:0px;
  width:1099px;
  height:800px;
}
#u8017 {
  position:absolute;
  left:2px;
  top:392px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:800px;
}
#u8018 {
  position:absolute;
  left:-10px;
  top:0px;
  width:211px;
  height:800px;
}
#u8019 {
  position:absolute;
  left:2px;
  top:392px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8020 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u8021 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:60px;
}
#u8022 {
  position:absolute;
  left:201px;
  top:100px;
  width:1099px;
  height:60px;
}
#u8023 {
  position:absolute;
  left:2px;
  top:22px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u8024 {
  position:absolute;
  left:51px;
  top:68px;
  width:49px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8025 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u8026 {
  position:absolute;
  left:67px;
  top:16px;
  width:43px;
  height:20px;
  color:#FFFFFF;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u8028 {
  position:absolute;
  left:229px;
  top:68px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u8029 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8030 {
  position:absolute;
  left:229px;
  top:121px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#000000;
}
#u8031 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u8032 {
  position:absolute;
  left:1127px;
  top:241px;
  width:9px;
  height:16px;
  font-size:16px;
  color:#000000;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u8034 {
  position:absolute;
  left:1231px;
  top:16px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8036 {
  position:absolute;
  left:1201px;
  top:16px;
  width:20px;
  height:20px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8038 {
  position:absolute;
  left:7px;
  top:5px;
  width:40px;
  height:40px;
}
#u8039 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:700px;
}
#u8040 {
  position:absolute;
  left:0px;
  top:100px;
  width:201px;
  height:700px;
  opacity:0.5;
}
#u8041 {
  position:absolute;
  left:2px;
  top:342px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8042 {
  position:absolute;
  left:51px;
  top:134px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8043 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8044 {
  position:absolute;
  left:51px;
  top:188px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8045 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8046 {
  position:absolute;
  left:51px;
  top:248px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8047 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8048 {
  position:absolute;
  left:51px;
  top:309px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8049 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8050 {
  position:absolute;
  left:51px;
  top:378px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8051 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:44px;
}
#u8052 {
  position:absolute;
  left:229px;
  top:170px;
  width:1051px;
  height:44px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:14px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u8054 {
  position:absolute;
  left:241px;
  top:185px;
  width:16px;
  height:20px;
  color:#000000;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u8056 {
  position:absolute;
  left:320px;
  top:185px;
  width:43px;
  height:20px;
  color:#000000;
}
#u8057 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u8058 {
  position:absolute;
  left:1151px;
  top:185px;
  width:29px;
  height:20px;
  color:#000000;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:44px;
}
#u8060 {
  position:absolute;
  left:229px;
  top:224px;
  width:1051px;
  height:44px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:14px;
  width:1047px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062 {
  position:absolute;
  left:1151px;
  top:232px;
  width:56px;
  height:25px;
}
#u8062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8062_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u8062_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:62px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8063 {
  position:absolute;
  left:600px;
  top:185px;
  width:57px;
  height:20px;
  color:#000000;
}
#u8064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u8065 {
  position:absolute;
  left:241px;
  top:237px;
  width:15px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8066 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u8067 {
  position:absolute;
  left:322px;
  top:237px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8068 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
}
#u8069 {
  position:absolute;
  left:602px;
  top:237px;
  width:78px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8070 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u8071 {
  position:absolute;
  left:780px;
  top:185px;
  width:29px;
  height:20px;
  color:#000000;
}
#u8072 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u8073 {
  position:absolute;
  left:780px;
  top:237px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8074 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u8075 {
  position:absolute;
  left:911px;
  top:185px;
  width:57px;
  height:20px;
  color:#000000;
}
#u8076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u8077 {
  position:absolute;
  left:911px;
  top:237px;
  width:67px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8078 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u8079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8079 {
  position:absolute;
  left:51px;
  top:439px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
