body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1672 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1673 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1674 {
  position:absolute;
  left:821px;
  top:1630px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1675 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1676 {
  position:absolute;
  left:611px;
  top:1638px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:830px;
}
#u1678 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:830px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1679 {
  position:absolute;
  left:2px;
  top:407px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1681 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1682 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1683 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:215px;
}
#u1685 {
  position:absolute;
  left:201px;
  top:51px;
  width:400px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1686 {
  position:absolute;
  left:2px;
  top:100px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_ann {
  position:absolute;
  left:594px;
  top:47px;
  width:1px;
  height:1px;
}
#u1687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1687 {
  position:absolute;
  left:821px;
  top:140px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1689 {
  position:absolute;
  left:611px;
  top:148px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u1693 {
  position:absolute;
  left:211px;
  top:276px;
  width:49px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1694 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
}
#u1695 {
  position:absolute;
  left:300px;
  top:335px;
  width:188px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:48px;
}
#u1697 {
  position:absolute;
  left:300px;
  top:370px;
  width:291px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:24px;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u1699 {
  position:absolute;
  left:211px;
  top:432px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u1701 {
  position:absolute;
  left:300px;
  top:454px;
  width:128px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1702 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:48px;
}
#u1703 {
  position:absolute;
  left:300px;
  top:489px;
  width:291px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:24px;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u1705 {
  position:absolute;
  left:211px;
  top:551px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:17px;
}
#u1707 {
  position:absolute;
  left:300px;
  top:569px;
  width:188px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:48px;
}
#u1709 {
  position:absolute;
  left:300px;
  top:604px;
  width:291px;
  height:48px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:24px;
}
#u1710 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u1711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:2px;
}
#u1711 {
  position:absolute;
  left:211px;
  top:666px;
  width:380px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1713 {
  position:absolute;
  left:383px;
  top:682px;
  width:15px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1714 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u1715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1715 {
  position:absolute;
  left:211px;
  top:335px;
  width:79px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1716 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1717 {
  position:absolute;
  left:211px;
  top:454px;
  width:79px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1718 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1719 {
  position:absolute;
  left:211px;
  top:569px;
  width:79px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1720 {
  position:absolute;
  left:2px;
  top:32px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1721 {
  position:absolute;
  left:385px;
  top:720px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1722 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u1723 {
  position:absolute;
  left:821px;
  top:470px;
  width:133px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1725 {
  position:absolute;
  left:611px;
  top:478px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1726 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
