body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1208 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1209 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1210 {
  position:absolute;
  left:198px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1211 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1212 {
  position:absolute;
  left:199px;
  top:584px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1213 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1214 {
  position:absolute;
  left:199px;
  top:898px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1215 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1216 {
  position:absolute;
  left:199px;
  top:270px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1217 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1218 {
  position:absolute;
  left:268px;
  top:316px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1220 {
  position:absolute;
  left:268px;
  top:343px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1221 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1222 {
  position:absolute;
  left:268px;
  top:545px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1224 {
  position:absolute;
  left:544px;
  top:550px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1226 {
  position:absolute;
  left:576px;
  top:551px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1228 {
  position:absolute;
  left:268px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1230 {
  position:absolute;
  left:268px;
  top:626px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1232 {
  position:absolute;
  left:268px;
  top:653px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1233 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1234 {
  position:absolute;
  left:268px;
  top:855px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1236 {
  position:absolute;
  left:544px;
  top:860px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1237 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1238 {
  position:absolute;
  left:576px;
  top:861px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1240 {
  position:absolute;
  left:268px;
  top:600px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1242 {
  position:absolute;
  left:268px;
  top:936px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1244 {
  position:absolute;
  left:268px;
  top:963px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1245 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1246 {
  position:absolute;
  left:268px;
  top:1165px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1248 {
  position:absolute;
  left:576px;
  top:1171px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1250 {
  position:absolute;
  left:268px;
  top:910px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1252 {
  position:absolute;
  left:544px;
  top:1170px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1253 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1254 {
  position:absolute;
  left:218px;
  top:290px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1256 {
  position:absolute;
  left:218px;
  top:600px;
  width:40px;
  height:40px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1258 {
  position:absolute;
  left:218px;
  top:910px;
  width:40px;
  height:40px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:215px;
}
#u1260 {
  position:absolute;
  left:200px;
  top:51px;
  width:400px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1261 {
  position:absolute;
  left:2px;
  top:98px;
  width:396px;
  word-wrap:break-word;
}
#u1260_ann {
  position:absolute;
  left:593px;
  top:47px;
  width:1px;
  height:1px;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u1262 {
  position:absolute;
  left:820px;
  top:151px;
  width:121px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1264 {
  position:absolute;
  left:610px;
  top:159px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1265 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u1266 {
  position:absolute;
  left:820px;
  top:418px;
  width:216px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1268 {
  position:absolute;
  left:610px;
  top:426px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1269 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1270 {
  position:absolute;
  left:199px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1271 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1272 {
  position:absolute;
  left:210px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1274 {
  position:absolute;
  left:378px;
  top:1230px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1276 {
  position:absolute;
  left:820px;
  top:545px;
  width:70px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1278 {
  position:absolute;
  left:610px;
  top:553px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
