body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1068 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1069 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1300px;
}
#u1070 {
  position:absolute;
  left:198px;
  top:0px;
  width:400px;
  height:1300px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1071 {
  position:absolute;
  left:2px;
  top:642px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1072 {
  position:absolute;
  left:199px;
  top:584px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1073 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1074 {
  position:absolute;
  left:199px;
  top:898px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1075 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:310px;
}
#u1076 {
  position:absolute;
  left:199px;
  top:270px;
  width:400px;
  height:310px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1077 {
  position:absolute;
  left:2px;
  top:147px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1078 {
  position:absolute;
  left:268px;
  top:316px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1080 {
  position:absolute;
  left:268px;
  top:343px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1081 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1082 {
  position:absolute;
  left:268px;
  top:545px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1084 {
  position:absolute;
  left:544px;
  top:550px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1085 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1086 {
  position:absolute;
  left:576px;
  top:551px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1088 {
  position:absolute;
  left:268px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1090 {
  position:absolute;
  left:268px;
  top:626px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1092 {
  position:absolute;
  left:268px;
  top:653px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1093 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1094 {
  position:absolute;
  left:268px;
  top:855px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1096 {
  position:absolute;
  left:544px;
  top:860px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1098 {
  position:absolute;
  left:576px;
  top:861px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1100 {
  position:absolute;
  left:268px;
  top:600px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u1102 {
  position:absolute;
  left:268px;
  top:936px;
  width:85px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:192px;
}
#u1104 {
  position:absolute;
  left:268px;
  top:963px;
  width:330px;
  height:192px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1105 {
  position:absolute;
  left:2px;
  top:88px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u1106 {
  position:absolute;
  left:268px;
  top:1165px;
  width:64px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u1108 {
  position:absolute;
  left:576px;
  top:1171px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u1110 {
  position:absolute;
  left:268px;
  top:910px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u1112 {
  position:absolute;
  left:544px;
  top:1170px;
  width:22px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1113 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1114 {
  position:absolute;
  left:218px;
  top:290px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1116 {
  position:absolute;
  left:218px;
  top:600px;
  width:40px;
  height:40px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1118 {
  position:absolute;
  left:218px;
  top:910px;
  width:40px;
  height:40px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:215px;
}
#u1120 {
  position:absolute;
  left:200px;
  top:51px;
  width:400px;
  height:215px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1121 {
  position:absolute;
  left:2px;
  top:98px;
  width:396px;
  word-wrap:break-word;
}
#u1120_ann {
  position:absolute;
  left:593px;
  top:47px;
  width:1px;
  height:1px;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u1122 {
  position:absolute;
  left:820px;
  top:151px;
  width:121px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1124 {
  position:absolute;
  left:610px;
  top:159px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1125 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:17px;
}
#u1126 {
  position:absolute;
  left:820px;
  top:418px;
  width:216px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1128 {
  position:absolute;
  left:610px;
  top:426px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u1130 {
  position:absolute;
  left:199px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u1131 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1132 {
  position:absolute;
  left:210px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u1134 {
  position:absolute;
  left:378px;
  top:1230px;
  width:43px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1135 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1136 {
  position:absolute;
  left:820px;
  top:545px;
  width:70px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1138 {
  position:absolute;
  left:610px;
  top:553px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
