body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1484px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:720px;
}
#u2692 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:720px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2693 {
  position:absolute;
  left:2px;
  top:352px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2694 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2695 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2696 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2698 {
  position:absolute;
  left:219px;
  top:650px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2699 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:144px;
}
#u2700 {
  position:absolute;
  left:211px;
  top:70px;
  width:380px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u2701 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u2702 {
  position:absolute;
  left:201px;
  top:265px;
  width:398px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2704 {
  position:absolute;
  left:219px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2706 {
  position:absolute;
  left:291px;
  top:290px;
  width:119px;
  height:22px;
}
#u2706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2706_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2706_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2706_input:disabled {
  color:grayText;
}
#u2707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2707 {
  position:absolute;
  left:219px;
  top:595px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2709 {
  position:absolute;
  left:219px;
  top:555px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2711 {
  position:absolute;
  left:219px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2712 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2713 {
  position:absolute;
  left:291px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2714 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u2715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2715 {
  position:absolute;
  left:357px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2716 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2717 {
  position:absolute;
  left:424px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2718 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2719 {
  position:absolute;
  left:219px;
  top:475px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2720 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2721 {
  position:absolute;
  left:434px;
  top:290px;
  width:119px;
  height:22px;
}
#u2721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2721_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2721_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2721_input:disabled {
  color:grayText;
}
#u2722 {
  position:absolute;
  left:291px;
  top:333px;
  width:119px;
  height:22px;
}
#u2722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2722_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2722_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2722_input:disabled {
  color:grayText;
}
#u2723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2723 {
  position:absolute;
  left:219px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2724 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2725 {
  position:absolute;
  left:291px;
  top:370px;
  width:262px;
  height:25px;
}
#u2725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2725_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2725_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2726 {
  position:absolute;
  left:219px;
  top:408px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2727 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2728 {
  position:absolute;
  left:291px;
  top:405px;
  width:262px;
  height:25px;
}
#u2728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2728_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2728_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2729 {
  position:absolute;
  left:320px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2730 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2731 {
  position:absolute;
  left:291px;
  top:553px;
  width:262px;
  height:25px;
}
#u2731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2731_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2731_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2732 {
  position:absolute;
  left:291px;
  top:595px;
  width:262px;
  height:25px;
}
#u2732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2732_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2732_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2733 {
  position:absolute;
  left:211px;
  top:224px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2734 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:64px;
}
#u2735 {
  position:absolute;
  left:820px;
  top:456px;
  width:253px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2736 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2737 {
  position:absolute;
  left:610px;
  top:464px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2739 {
  position:absolute;
  left:494px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2740 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2741 {
  position:absolute;
  left:443px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2742 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:720px;
}
#u2743 {
  position:absolute;
  left:1083px;
  top:0px;
  width:400px;
  height:720px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2744 {
  position:absolute;
  left:2px;
  top:352px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2745 {
  position:absolute;
  left:1083px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2746 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2747 {
  position:absolute;
  left:1094px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2748 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2749 {
  position:absolute;
  left:1102px;
  top:468px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2750 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:144px;
}
#u2751 {
  position:absolute;
  left:1094px;
  top:70px;
  width:380px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u2752 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u2753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u2753 {
  position:absolute;
  left:1084px;
  top:265px;
  width:398px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2755 {
  position:absolute;
  left:1102px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2756 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2757 {
  position:absolute;
  left:1174px;
  top:290px;
  width:119px;
  height:22px;
}
#u2757_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2757_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2757_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2757_input:disabled {
  color:grayText;
}
#u2758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2758 {
  position:absolute;
  left:1102px;
  top:412px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2759 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2760 {
  position:absolute;
  left:1102px;
  top:372px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2761 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2762 {
  position:absolute;
  left:1102px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2763 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2764 {
  position:absolute;
  left:1317px;
  top:290px;
  width:119px;
  height:22px;
}
#u2764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2764_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2764_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2764_input:disabled {
  color:grayText;
}
#u2765 {
  position:absolute;
  left:1174px;
  top:333px;
  width:119px;
  height:22px;
}
#u2765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2765_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2765_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2765_input:disabled {
  color:grayText;
}
#u2766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2766 {
  position:absolute;
  left:1203px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2767 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2768 {
  position:absolute;
  left:1174px;
  top:370px;
  width:262px;
  height:25px;
}
#u2768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2768_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2768_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2769 {
  position:absolute;
  left:1174px;
  top:412px;
  width:262px;
  height:25px;
}
#u2769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2769_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2769_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2770 {
  position:absolute;
  left:1094px;
  top:224px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2771 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2772 {
  position:absolute;
  left:1326px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2773 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
