body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1484px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:720px;
}
#u2766 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:720px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2767 {
  position:absolute;
  left:2px;
  top:352px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2768 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2769 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2770 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2771 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2772 {
  position:absolute;
  left:219px;
  top:650px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2773 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:144px;
}
#u2774 {
  position:absolute;
  left:211px;
  top:70px;
  width:380px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u2775 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u2776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u2776 {
  position:absolute;
  left:201px;
  top:265px;
  width:398px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2777 {
  position:absolute;
  left:2px;
  top:-8px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2778 {
  position:absolute;
  left:219px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2779 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2780 {
  position:absolute;
  left:291px;
  top:290px;
  width:119px;
  height:22px;
}
#u2780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2780_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2780_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2780_input:disabled {
  color:grayText;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2781 {
  position:absolute;
  left:219px;
  top:595px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2782 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2783 {
  position:absolute;
  left:219px;
  top:555px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2784 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2785 {
  position:absolute;
  left:219px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2786 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2787 {
  position:absolute;
  left:291px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2788 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2789 {
  position:absolute;
  left:357px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2791 {
  position:absolute;
  left:424px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2792 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2793 {
  position:absolute;
  left:219px;
  top:475px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2794 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2795 {
  position:absolute;
  left:434px;
  top:290px;
  width:119px;
  height:22px;
}
#u2795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2795_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2795_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2795_input:disabled {
  color:grayText;
}
#u2796 {
  position:absolute;
  left:291px;
  top:333px;
  width:119px;
  height:22px;
}
#u2796_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2796_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2796_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2796_input:disabled {
  color:grayText;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2797 {
  position:absolute;
  left:219px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2798 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2799 {
  position:absolute;
  left:291px;
  top:370px;
  width:262px;
  height:25px;
}
#u2799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2799_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2799_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2800 {
  position:absolute;
  left:219px;
  top:408px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2801 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2802 {
  position:absolute;
  left:291px;
  top:405px;
  width:262px;
  height:25px;
}
#u2802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2802_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2802_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2803 {
  position:absolute;
  left:320px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2804 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2805 {
  position:absolute;
  left:291px;
  top:553px;
  width:262px;
  height:25px;
}
#u2805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2805_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2805_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2806 {
  position:absolute;
  left:291px;
  top:595px;
  width:262px;
  height:25px;
}
#u2806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2806_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2806_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2807 {
  position:absolute;
  left:211px;
  top:224px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2808 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:64px;
}
#u2809 {
  position:absolute;
  left:820px;
  top:456px;
  width:253px;
  height:64px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2810 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u2811 {
  position:absolute;
  left:610px;
  top:464px;
  width:200px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2812 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u2813 {
  position:absolute;
  left:494px;
  top:475px;
  width:60px;
  height:59px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2814 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2815 {
  position:absolute;
  left:443px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2816 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:720px;
}
#u2817 {
  position:absolute;
  left:1083px;
  top:0px;
  width:400px;
  height:720px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2818 {
  position:absolute;
  left:2px;
  top:352px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u2819 {
  position:absolute;
  left:1083px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u2820 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2821 {
  position:absolute;
  left:1094px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2822 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2823 {
  position:absolute;
  left:1102px;
  top:468px;
  width:360px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2824 {
  position:absolute;
  left:2px;
  top:10px;
  width:356px;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:144px;
}
#u2825 {
  position:absolute;
  left:1094px;
  top:70px;
  width:380px;
  height:144px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u2826 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:2px;
}
#u2827 {
  position:absolute;
  left:1084px;
  top:265px;
  width:398px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2828 {
  position:absolute;
  left:2px;
  top:-8px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2829 {
  position:absolute;
  left:1102px;
  top:290px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2831 {
  position:absolute;
  left:1174px;
  top:290px;
  width:119px;
  height:22px;
}
#u2831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2831_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2831_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2831_input:disabled {
  color:grayText;
}
#u2832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2832 {
  position:absolute;
  left:1102px;
  top:412px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2833 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u2834 {
  position:absolute;
  left:1102px;
  top:372px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2835 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u2836 {
  position:absolute;
  left:1102px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2838 {
  position:absolute;
  left:1317px;
  top:290px;
  width:119px;
  height:22px;
}
#u2838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2838_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2838_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2838_input:disabled {
  color:grayText;
}
#u2839 {
  position:absolute;
  left:1174px;
  top:333px;
  width:119px;
  height:22px;
}
#u2839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2839_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2839_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:125px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2839_input:disabled {
  color:grayText;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2840 {
  position:absolute;
  left:1203px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2842 {
  position:absolute;
  left:1174px;
  top:370px;
  width:262px;
  height:25px;
}
#u2842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2842_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2842_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2843 {
  position:absolute;
  left:1174px;
  top:412px;
  width:262px;
  height:25px;
}
#u2843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2843_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u2843_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:268px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u2844 {
  position:absolute;
  left:1094px;
  top:224px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u2846 {
  position:absolute;
  left:1326px;
  top:224px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
  color:#999999;
}
#u2847 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
