body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
}
#u7915 {
  position:absolute;
  left:0px;
  top:1px;
  width:1200px;
  height:952px;
}
#u7916 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
}
#u7917 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:952px;
  font-size:16px;
}
#u7918 {
  position:absolute;
  left:2px;
  top:468px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7919 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u7921 {
  position:absolute;
  left:264px;
  top:73px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:18px;
}
#u7923 {
  position:absolute;
  left:250px;
  top:79px;
  width:4px;
  height:18px;
}
#u7924 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7925 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:20px;
}
#u7926 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u7927 {
  position:absolute;
  left:1113px;
  top:19px;
  width:37px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u7928 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:904px;
}
#u7929 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:903px;
}
#u7930 {
  position:absolute;
  left:2px;
  top:444px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7931 {
  position:absolute;
  left:250px;
  top:162px;
  width:900px;
  height:1px;
}
#u7932 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u7933 {
  position:absolute;
  left:1055px;
  top:120px;
  width:97px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7934 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7935 {
  position:absolute;
  left:1023px;
  top:120px;
  width:20px;
  height:20px;
}
#u7936 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7937 {
  position:absolute;
  left:250px;
  top:579px;
  width:63px;
  height:25px;
}
#u7937_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7937_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7937_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7938 {
  position:absolute;
  left:323px;
  top:579px;
  width:63px;
  height:25px;
}
#u7938_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7938_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u7938_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7938_ann {
  position:absolute;
  left:379px;
  top:575px;
  width:1px;
  height:1px;
}
#u7939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7939 {
  position:absolute;
  left:266px;
  top:750px;
  width:20px;
  height:20px;
}
#u7940 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u7941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7941 {
  position:absolute;
  left:296px;
  top:750px;
  width:20px;
  height:20px;
}
#u7942 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u7943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7943 {
  position:absolute;
  left:326px;
  top:750px;
  width:20px;
  height:20px;
}
#u7944 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u7945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7945 {
  position:absolute;
  left:428px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7947 {
  position:absolute;
  left:1083px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7948 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7949 {
  position:absolute;
  left:413px;
  top:254px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7950 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7951 {
  position:absolute;
  left:1083px;
  top:254px;
  width:20px;
  height:20px;
}
#u7952 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u7953 {
  position:absolute;
  left:413px;
  top:350px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7955 {
  position:absolute;
  left:1083px;
  top:350px;
  width:20px;
  height:20px;
}
#u7956 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u7957 {
  position:absolute;
  left:411px;
  top:300px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7958 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7959 {
  position:absolute;
  left:1083px;
  top:300px;
  width:20px;
  height:20px;
}
#u7960 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u7961 {
  position:absolute;
  left:264px;
  top:183px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7962 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7963 {
  position:absolute;
  left:339px;
  top:254px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7964 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7965 {
  position:absolute;
  left:339px;
  top:350px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7966 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7967 {
  position:absolute;
  left:339px;
  top:300px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7968 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7969 {
  position:absolute;
  left:267px;
  top:254px;
  width:27px;
  height:25px;
}
#u7969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7969_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7969_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7970 {
  position:absolute;
  left:267px;
  top:300px;
  width:27px;
  height:25px;
}
#u7970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7970_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7970_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7971 {
  position:absolute;
  left:267px;
  top:350px;
  width:27px;
  height:25px;
}
#u7971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7971_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7971_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u7972 {
  position:absolute;
  left:335px;
  top:183px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7973 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u7974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u7974 {
  position:absolute;
  left:250px;
  top:220px;
  width:900px;
  height:1px;
}
#u7975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u7976 {
  position:absolute;
  left:411px;
  top:395px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7977 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7978 {
  position:absolute;
  left:1083px;
  top:395px;
  width:20px;
  height:20px;
}
#u7979 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7980 {
  position:absolute;
  left:339px;
  top:395px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7981 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7982 {
  position:absolute;
  left:267px;
  top:395px;
  width:27px;
  height:25px;
}
#u7982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7982_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7982_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u7983 {
  position:absolute;
  left:411px;
  top:435px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7984 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7985 {
  position:absolute;
  left:1083px;
  top:435px;
  width:20px;
  height:20px;
}
#u7986 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7987 {
  position:absolute;
  left:339px;
  top:435px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7988 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7989 {
  position:absolute;
  left:267px;
  top:435px;
  width:27px;
  height:25px;
}
#u7989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7989_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7989_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u7990 {
  position:absolute;
  left:411px;
  top:480px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7991 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7992 {
  position:absolute;
  left:1083px;
  top:480px;
  width:20px;
  height:20px;
}
#u7993 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u7994 {
  position:absolute;
  left:339px;
  top:480px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7995 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7996 {
  position:absolute;
  left:267px;
  top:480px;
  width:27px;
  height:25px;
}
#u7996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7996_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u7996_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u7997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u7997 {
  position:absolute;
  left:411px;
  top:525px;
  width:91px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7998 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u7999 {
  position:absolute;
  left:1083px;
  top:525px;
  width:20px;
  height:20px;
}
#u8000 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u8001 {
  position:absolute;
  left:339px;
  top:525px;
  width:9px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8002 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u8003 {
  position:absolute;
  left:267px;
  top:525px;
  width:27px;
  height:25px;
}
#u8003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8003_input {
  font-family:'微软雅黑';
  color:#000000;
}
#u8003_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:33px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8004 {
  position:absolute;
  left:396px;
  top:579px;
  width:63px;
  height:25px;
}
#u8004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8004_input {
  font-family:'微软雅黑';
  color:#333333;
}
#u8004_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8005 {
  position:absolute;
  left:250px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8006 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8007 {
  position:absolute;
  left:364px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8008 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8009 {
  position:absolute;
  left:460px;
  top:120px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8010 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8012 {
  position:absolute;
  left:61px;
  top:404px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8013 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8014 {
  position:absolute;
  left:-1px;
  top:716px;
  width:200px;
  height:50px;
  font-size:16px;
}
#u8015 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8016 {
  position:absolute;
  left:61px;
  top:471px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8017 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8018 {
  position:absolute;
  left:61px;
  top:729px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8019 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8020 {
  position:absolute;
  left:61px;
  top:271px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8021 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8022 {
  position:absolute;
  left:61px;
  top:204px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8024 {
  position:absolute;
  left:61px;
  top:137px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8025 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8026 {
  position:absolute;
  left:61px;
  top:70px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8027 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8028 {
  position:absolute;
  left:61px;
  top:337px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8029 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
}
#u8030 {
  position:absolute;
  left:52px;
  top:16px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8031 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8032 {
  position:absolute;
  left:62px;
  top:531px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8033 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8034 {
  position:absolute;
  left:61px;
  top:663px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u8036 {
  position:absolute;
  left:61px;
  top:596px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8037 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
