body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:860px;
}
#u3037 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:860px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3038 {
  position:absolute;
  left:2px;
  top:422px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u3039 {
  position:absolute;
  left:200px;
  top:0px;
  width:401px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u3040 {
  position:absolute;
  left:2px;
  top:15px;
  width:397px;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3041 {
  position:absolute;
  left:211px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:219px;
}
#u3043 {
  position:absolute;
  left:200px;
  top:51px;
  width:400px;
  height:219px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3044 {
  position:absolute;
  left:2px;
  top:102px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u3045 {
  position:absolute;
  left:200px;
  top:222px;
  width:400px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u3047 {
  position:absolute;
  left:220px;
  top:591px;
  width:361px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u3049 {
  position:absolute;
  left:220px;
  top:650px;
  width:361px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u3051 {
  position:absolute;
  left:220px;
  top:778px;
  width:361px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3053 {
  position:absolute;
  left:211px;
  top:69px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3054 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u3055 {
  position:absolute;
  left:211px;
  top:100px;
  width:181px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u3056 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3057 {
  position:absolute;
  left:561px;
  top:80px;
  width:20px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3058 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
}
#u3059 {
  position:absolute;
  left:700px;
  top:331px;
  width:400px;
  height:180px;
}
#u3060 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u3061 {
  position:absolute;
  left:981px;
  top:451px;
  width:79px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3062 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u3063 {
  position:absolute;
  left:877px;
  top:451px;
  width:79px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3064 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3065 {
  position:absolute;
  left:800px;
  top:361px;
  width:50px;
  height:50px;
}
#u3066 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u3067 {
  position:absolute;
  left:880px;
  top:376px;
  width:81px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3068 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3069 {
  position:absolute;
  left:896px;
  top:61px;
  width:50px;
  height:50px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
}
#u3071 {
  position:absolute;
  left:840px;
  top:136px;
  width:161px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3072 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u3073 {
  position:absolute;
  left:374px;
  top:234px;
  width:53px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3074 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:201px;
}
#u3075 {
  position:absolute;
  left:200px;
  top:280px;
  width:400px;
  height:201px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3076 {
  position:absolute;
  left:2px;
  top:92px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u3077 {
  position:absolute;
  left:200px;
  top:432px;
  width:400px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3079 {
  position:absolute;
  left:211px;
  top:298px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:61px;
}
#u3081 {
  position:absolute;
  left:211px;
  top:329px;
  width:181px;
  height:61px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  line-height:20px;
}
#u3082 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u3083 {
  position:absolute;
  left:374px;
  top:446px;
  width:53px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3084 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
